<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absatz</key>
	<string>article</string>
	<key>american football</key>
	<string>sport</string>
	<key>app</key>
	<string>app</string>
	<key>applikation</key>
	<string>app</string>
	<key>apps</key>
	<string>app</string>
	<key>arbeit</key>
	<string>work</string>
	<key>arbeiten</key>
	<string>work</string>
	<key>arbeitsstelle</key>
	<string>work</string>
	<key>armbanduhr</key>
	<string>watch</string>
	<key>artikel</key>
	<string>article</string>
	<key>arzt</key>
	<string>health</string>
	<key>aufnahme</key>
	<string>photography</string>
	<key>aufnahmen</key>
	<string>photography</string>
	<key>aufnehmen</key>
	<string>photography</string>
	<key>auto</key>
	<string>car</string>
	<key>automobil</key>
	<string>car</string>
	<key>bank</key>
	<string>economy</string>
	<key>baseball</key>
	<string>sport</string>
	<key>basketball</key>
	<string>sport</string>
	<key>beauty</key>
	<string>beauty</string>
	<key>bereisen</key>
	<string>travel</string>
	<key>beruf</key>
	<string>work</string>
	<key>bewegung</key>
	<string>sport</string>
	<key>bilder</key>
	<string>photography</string>
	<key>bildung</key>
	<string>school</string>
	<key>blog</key>
	<string>article</string>
	<key>blog post</key>
	<string>article</string>
	<key>blog-posting</key>
	<string>article</string>
	<key>bookmark</key>
	<string>article</string>
	<key>brettspiel</key>
	<string>game</string>
	<key>brief</key>
	<string>mail</string>
	<key>buch</key>
	<string>book</string>
	<key>bug</key>
	<string>bug</string>
	<key>bumsen</key>
	<string>porn</string>
	<key>bundesliga</key>
	<string>sport</string>
	<key>bücher</key>
	<string>book</string>
	<key>büro</key>
	<string>work</string>
	<key>cartoon</key>
	<string>comics</string>
	<key>cash</key>
	<string>money</string>
	<key>champions league</key>
	<string>sport</string>
	<key>code</key>
	<string>development</string>
	<key>coding</key>
	<string>development</string>
	<key>comicheft</key>
	<string>comics</string>
	<key>comics</key>
	<string>comics</string>
	<key>cricket</key>
	<string>sport</string>
	<key>design</key>
	<string>design</string>
	<key>designer</key>
	<string>design</string>
	<key>developer</key>
	<string>development</string>
	<key>development</key>
	<string>development</string>
	<key>dichter</key>
	<string>poetry</string>
	<key>dichterkunst</key>
	<string>poetry</string>
	<key>diy</key>
	<string>diy</string>
	<key>do it yourself</key>
	<string>diy</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>ehefrau</key>
	<string>wife</string>
	<key>ehemann</key>
	<string>husband</string>
	<key>einkaufen</key>
	<string>shop</string>
	<key>einkommen</key>
	<string>money</string>
	<key>einnahmen</key>
	<string>money</string>
	<key>einschreiben</key>
	<string>school</string>
	<key>schreiben</key>
	<string>poetry</string>
	<key>eitelkeit</key>
	<string>beauty</string>
	<key>email</key>
	<string>mail</string>
	<key>emails</key>
	<string>mail</string>
	<key>empirisch</key>
	<string>science</string>
	<key>entwickler</key>
	<string>development</string>
	<key>entwicklung</key>
	<string>development</string>
	<key>erde</key>
	<string>nature</string>
	<key>ernährung</key>
	<string>health</string>
	<key>exkremente</key>
	<string>poop</string>
	<key>exkursion</key>
	<string>travel</string>
	<key>fahrzeug</key>
	<string>car</string>
	<key>familie</key>
	<string>family</string>
	<key>familiär</key>
	<string>family</string>
	<key>fashion</key>
	<string>fashion</string>
	<key>fellnase</key>
	<string>cat</string>
	<key>fernsehen</key>
	<string>tv</string>
	<key>fertigstellen</key>
	<string>todo</string>
	<key>ficken</key>
	<string>porn</string>
	<key>film</key>
	<string>tv</string>
	<key>finanzen</key>
	<string>economy</string>
	<key>finanzgeschäft</key>
	<string>economy</string>
	<key>football</key>
	<string>sport</string>
	<key>fotografie</key>
	<string>photography</string>
	<key>fotos</key>
	<string>photography</string>
	<key>friede</key>
	<string>peace</string>
	<key>früchtetee</key>
	<string>tea</string>
	<key>fußball</key>
	<string>sport</string>
	<key>fußbekleidung</key>
	<string>shoes</string>
	<key>games</key>
	<string>game</string>
	<key>gaming</key>
	<string>game</string>
	<key>geburtstagsgeschenk</key>
	<string>present</string>
	<key>gedicht</key>
	<string>poetry</string>
	<key>gehalt</key>
	<string>money</string>
	<key>geheimnis</key>
	<string>privacy</string>
	<key>essen</key>
	<string>cooking</string>
	<key>geld</key>
	<string>money</string>
	<key>gelächter</key>
	<string>fun</string>
	<key>gesang</key>
	<string>music</string>
	<key>geschenk</key>
	<string>present</string>
	<key>geschenke</key>
	<string>present</string>
	<key>geschäft</key>
	<string>shop</string>
	<key>gesund</key>
	<string>health</string>
	<key>gesundheit</key>
	<string>health</string>
	<key>hallenhockey</key>
	<string>sport</string>
	<key>handtasche</key>
	<string>purse</string>
	<key>handwerker</key>
	<string>diy</string>
	<key>haus</key>
	<string>home</string>
	<key>hockey</key>
	<string>sport</string>
	<key>humor</key>
	<string>fun</string>
	<key>hund</key>
	<string>dog</string>
	<key>hunde</key>
	<string>dog</string>
	<key>häufchen</key>
	<string>poop</string>
	<key>hündchen</key>
	<string>dog</string>
	<key>ich</key>
	<string>me</string>
	<key>idee</key>
	<string>idea</string>
	<key>ideen</key>
	<string>idea</string>
	<key>illustration</key>
	<string>art</string>
	<key>inskribieren</key>
	<string>school</string>
	<key>inspiration</key>
	<string>idea</string>
	<key>inspiriert</key>
	<string>idea</string>
	<key>italien</key>
	<string>italy</string>
	<key>job</key>
	<string>work</string>
	<key>kacke</key>
	<string>poop</string>
	<key>kaffee</key>
	<string>coffee</string>
	<key>kaffeetasse</key>
	<string>coffee</string>
	<key>katze</key>
	<string>cat</string>
	<key>kino</key>
	<string>cinema</string>
	<key>kleidung</key>
	<string>fashion</string>
	<key>kleidungsstück</key>
	<string>fashion</string>
	<key>kleidungsstücke</key>
	<string>fashion</string>
	<key>kochbuch</key>
	<string>cooking</string>
	<key>kochen</key>
	<string>cooking</string>
	<key>krieg der sterne</key>
	<string>star wars</string>
	<key>kräutertee</key>
	<string>tea</string>
	<key>kunst</key>
	<string>art</string>
	<key>kurs</key>
	<string>school</string>
	<key>käfer</key>
	<string>bug</string>
	<key>kätzchen</key>
	<string>cat</string>
	<key>küche</key>
	<string>cooking</string>
	<key>künstler</key>
	<string>art</string>
	<key>lachen</key>
	<string>fun</string>
	<key>lauf</key>
	<string>exercise</string>
	<key>laufen</key>
	<string>exercise</string>
	<key>lehre</key>
	<string>school</string>
	<key>leichtathletik</key>
	<string>exercise</string>
	<key>leinwand</key>
	<string>cinema</string>
	<key>lektüre</key>
	<string>book</string>
	<key>lesezeichen</key>
	<string>article</string>
	<key>liebe</key>
	<string>love</string>
	<key>lied</key>
	<string>music</string>
	<key>liga</key>
	<string>sport</string>
	<key>listen</key>
	<string>todo</string>
	<key>lustig</key>
	<string>fun</string>
	<key>mail</key>
	<string>mail</string>
	<key>mails</key>
	<string>mail</string>
	<key>manga</key>
	<string>comics</string>
	<key>marathon</key>
	<string>exercise</string>
	<key>matrikel</key>
	<string>school</string>
	<key>mieze</key>
	<string>cat</string>
	<key>mode</key>
	<string>fashion</string>
	<key>modisch</key>
	<string>fashion</string>
	<key>mond</key>
	<string>moon</string>
	<key>mondsichel</key>
	<string>moon</string>
	<key>musik</key>
	<string>music</string>
	<key>musiker</key>
	<string>music</string>
	<key>nach hause</key>
	<string>home</string>
	<key>nagen</key>
	<string>rodents</string>
	<key>nager</key>
	<string>rodents</string>
	<key>nagetiere</key>
	<string>rodents</string>
	<key>natur</key>
	<string>nature</string>
	<key>orte</key>
	<string>places</string>
	<key>pfanne</key>
	<string>cooking</string>
	<key>podcast</key>
	<string>podcast</string>
	<key>podcasts</key>
	<string>podcast</string>
	<key>poesie</key>
	<string>poetry</string>
	<key>pokal</key>
	<string>sport</string>
	<key>pokemon</key>
	<string>pokemon</string>
	<key>porno</key>
	<string>porn</string>
	<key>porno-video</key>
	<string>porn</string>
	<key>pornografie</key>
	<string>porn</string>
	<key>post</key>
	<string>mail</string>
	<key>privat</key>
	<string>privacy</string>
	<key>privatsphäre</key>
	<string>privacy</string>
	<key>programmieren</key>
	<string>development</string>
	<key>programmiersprache</key>
	<string>development</string>
	<key>programmierung</key>
	<string>development</string>
	<key>projekt</key>
	<string>development</string>
	<key>projekte</key>
	<string>development</string>
	<key>publikation</key>
	<string>book</string>
	<key>quarterback</key>
	<string>sport</string>
	<key>reise</key>
	<string>holiday</string>
	<key>reisen</key>
	<string>travel</string>
	<key>rezept</key>
	<string>cooking</string>
	<key>rezepte</key>
	<string>cooking</string>
	<key>roman</key>
	<string>book</string>
	<key>romane</key>
	<string>book</string>
	<key>samtpfote</key>
	<string>cat</string>
	<key>scheiße</key>
	<string>poop</string>
	<key>schenken</key>
	<string>present</string>
	<key>schuh</key>
	<string>shoes</string>
	<key>schuhe</key>
	<string>shoes</string>
	<key>schulbücher</key>
	<string>school</string>
	<key>schule</key>
	<string>school</string>
	<key>schweizer uhrwerk</key>
	<string>watch</string>
	<key>schönheit</key>
	<string>beauty</string>
	<key>selbstgemacht</key>
	<string>diy</string>
	<key>selfmade</key>
	<string>diy</string>
	<key>serie</key>
	<string>tv</string>
	<key>sex</key>
	<string>porn</string>
	<key>shop</key>
	<string>shop</string>
	<key>shopping</key>
	<string>shop</string>
	<key>sichel</key>
	<string>moon</string>
	<key>skateboard</key>
	<string>skate</string>
	<key>skaten</key>
	<string>skate</string>
	<key>skater</key>
	<string>skate</string>
	<key>skizze</key>
	<string>art</string>
	<key>software</key>
	<string>app</string>
	<key>sohn</key>
	<string>son</string>
	<key>solar</key>
	<string>sun</string>
	<key>sonne</key>
	<string>sun</string>
	<key>sonnen</key>
	<string>sun</string>
	<key>spaß</key>
	<string>fun</string>
	<key>spiel</key>
	<string>game</string>
	<key>sport</key>
	<string>sport</string>
	<key>sportlich</key>
	<string>sport</string>
	<key>star wars</key>
	<string>star wars</string>
	<key>starwars</key>
	<string>star wars</string>
	<key>stern</key>
	<string>star</string>
	<key>sternbild</key>
	<string>star</string>
	<key>stubentiger</key>
	<string>cat</string>
	<key>söhne</key>
	<string>son</string>
	<key>tasche</key>
	<string>purse</string>
	<key>tech</key>
	<string>tech</string>
	<key>technik</key>
	<string>tech</string>
	<key>technologie</key>
	<string>tech</string>
	<key>tee</key>
	<string>tea</string>
	<key>tennis</key>
	<string>sport</string>
	<key>tennisplatz</key>
	<string>sport</string>
	<key>tennisspielen</key>
	<string>sport</string>
	<key>tennisspieler</key>
	<string>sport</string>
	<key>the doctor</key>
	<string>doctor who</string>
	<key>theater</key>
	<string>cinema</string>
	<key>tier</key>
	<string>animal</string>
	<key>tiere</key>
	<string>animal</string>
	<key>tierisch</key>
	<string>animal</string>
	<key>tochter</key>
	<string>daughter</string>
	<key>todo</key>
	<string>todo</string>
	<key>todo-liste</key>
	<string>todo</string>
	<key>training</key>
	<string>exercise</string>
	<key>tv</key>
	<string>tv</string>
	<key>tv-serie</key>
	<string>tv</string>
	<key>typographie</key>
	<string>typography</string>
	<key>töchter</key>
	<string>daughter</string>
	<key>uhr</key>
	<string>watch</string>
	<key>umhängetasche</key>
	<string>purse</string>
	<key>umwelt</key>
	<string>nature</string>
	<key>universität</key>
	<string>school</string>
	<key>urlaub</key>
	<string>travel</string>
	<key>urlaubsreise</key>
	<string>holiday</string>
	<key>verhandeln</key>
	<string>shop</string>
	<key>verliebt</key>
	<string>love</string>
	<key>videospiel</key>
	<string>game</string>
	<key>videospiele</key>
	<string>game</string>
	<key>volley</key>
	<string>sport</string>
	<key>vorlesung</key>
	<string>school</string>
	<key>weihnachtsgeschenk</key>
	<string>present</string>
	<key>welt</key>
	<string>nature</string>
	<key>weltreise</key>
	<string>travel</string>
	<key>wirtschaft</key>
	<string>economy</string>
	<key>wissen</key>
	<string>science</string>
	<key>wissenschaft</key>
	<string>science</string>
	<key>workout</key>
	<string>exercise</string>
	<key>yoga</key>
	<string>yoga</string>
	<key>zitat</key>
	<string>quotes</string>
	<key>zitate</key>
	<string>quotes</string>
	<key>zu hause</key>
	<string>home</string>
	<key>zu tun</key>
	<string>todo</string>
	<key>zuhause</key>
	<string>home</string>
	<key>zuneigung</key>
	<string>love</string>
	<key>Übung</key>
	<string>exercise</string>
</dict>
</plist>
