<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>index</key>
	<string>home</string>
	<key>daily</key>
	<string>star</string>
	<key>note</key>
	<string>idea</string>
	<key>record</key>
	<string>economy</string>
	<key>reference</key>
	<string>article</string>
	<key>wiki</key>
	<string>book</string>

	<key>abstract</key>
	<string>article</string>
	<key>abstracts</key>
	<string>article</string>
	<key>academy</key>
	<string>school</string>
	<key>animals</key>
	<string>animal</string>
	<key>anime</key>
	<string>comics</string>
	<key>app</key>
	<string>app</string>
	<key>apps</key>
	<string>app</string>
	<key>art</key>
	<string>art</string>
	<key>article</key>
	<string>article</string>
	<key>articles</key>
	<string>article</string>
	<key>attire</key>
	<string>fashion</string>
	<key>baggage</key>
	<string>work</string>
	<key>baggages</key>
	<string>work</string>
	<key>bank</key>
	<string>economy</string>
	<key>baseball</key>
	<string>sport</string>
	<key>basketball</key>
	<string>sport</string>
	<key>beach volley</key>
	<string>sport</string>
	<key>beauty</key>
	<string>beauty</string>
	<key>blog</key>
	<string>article</string>
	<key>blog post</key>
	<string>article</string>
	<key>blog posts</key>
	<string>article</string>
	<key>blogs</key>
	<string>article</string>
	<key>book</key>
	<string>book</string>
	<key>bookmark</key>
	<string>article</string>
	<key>bookmarked</key>
	<string>article</string>
	<key>bookmarks</key>
	<string>article</string>
	<key>books</key>
	<string>book</string>
	<key>boots</key>
	<string>shoes</string>
	<key>brainstorming</key>
	<string>idea</string>
	<key>brainstormings</key>
	<string>idea</string>
	<key>breakfast</key>
	<string>cooking</string>
	<key>bricolage</key>
	<string>diy</string>
	<key>bride</key>
	<string>wife</string>
	<key>brides</key>
	<string>wife</string>
	<key>budget</key>
	<string>money</string>
	<key>bug</key>
	<string>bug</string>
	<key>bug report</key>
	<string>bug</string>
	<key>bug reports</key>
	<string>bug</string>
	<key>bugs</key>
	<string>bug</string>
	<key>business</key>
	<string>work</string>
	<key>car</key>
	<string>car</string>
	<key>career</key>
	<string>work</string>
	<key>cars</key>
	<string>car</string>
	<key>cartoon</key>
	<string>comics</string>
	<key>cartoons</key>
	<string>comics</string>
	<key>cash</key>
	<string>money</string>
	<key>cat</key>
	<string>cat</string>
	<key>cats</key>
	<string>cat</string>
	<key>chart</key>
	<string>economy</string>
	<key>charts</key>
	<string>economy</string>
	<key>checklist</key>
	<string>todo</string>
	<key>checklists</key>
	<string>todo</string>
	<key>cinema</key>
	<string>cinema</string>
	<key>cinema - 2</key>
	<string>cinema</string>
	<key>citation</key>
	<string>quotes</string>
	<key>citations</key>
	<string>quotes</string>
	<key>class</key>
	<string>school</string>
	<key>classes</key>
	<string>school</string>
	<key>clothes</key>
	<string>fashion</string>
	<key>clothing</key>
	<string>fashion</string>
	<key>code</key>
	<string>development</string>
	<key>coding</key>
	<string>development</string>
	<key>coffee</key>
	<string>coffee</string>
	<key>college</key>
	<string>school</string>
	<key>comic book</key>
	<string>comics</string>
	<key>comic books</key>
	<string>comics</string>
	<key>comicbook</key>
	<string>comics</string>
	<key>comicbooks</key>
	<string>comics</string>
	<key>comics</key>
	<string>comics</string>
	<key>computer</key>
	<string>mac</string>
	<key>computers</key>
	<string>mac</string>
	<key>cooking</key>
	<string>cooking</string>
	<key>creativity</key>
	<string>art</string>
	<key>cricket</key>
	<string>sport</string>
	<key>cuisine</key>
	<string>cooking</string>
	<key>data science</key>
	<string>economy</string>
	<key>daughter</key>
	<string>daughter</string>
	<key>daughters</key>
	<string>daughter</string>
	<key>design</key>
	<string>design</string>
	<key>designer</key>
	<string>design</string>
	<key>designers</key>
	<string>design</string>
	<key>dev</key>
	<string>development</string>
	<key>developer</key>
	<string>development</string>
	<key>developers</key>
	<string>development</string>
	<key>development</key>
	<string>development</string>
	<key>diaries</key>
	<string>book</string>
	<key>diary</key>
	<string>book</string>
	<key>diet</key>
	<string>health</string>
	<key>dinner</key>
	<string>cooking</string>
	<key>diy</key>
	<string>diy</string>
	<key>do it yourself</key>
	<string>diy</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>document</key>
	<string>article</string>
	<key>documents</key>
	<string>article</string>
	<key>dog</key>
	<string>dog</string>
	<key>doggies</key>
	<string>dog</string>
	<key>doggy</key>
	<string>dog</string>
	<key>dogs</key>
	<string>dog</string>
	<key>drawing</key>
	<string>art</string>
	<key>drawings</key>
	<string>art</string>
	<key>economy</key>
	<string>economy</string>
	<key>education</key>
	<string>school</string>
	<key>educational</key>
	<string>school</string>
	<key>email</key>
	<string>mail</string>
	<key>emails</key>
	<string>mail</string>
	<key>emoji</key>
	<string>fun</string>
	<key>emojis</key>
	<string>fun</string>
	<key>entertainment</key>
	<string>cinema</string>
	<key>environment</key>
	<string>nature</string>
	<key>environmental</key>
	<string>nature</string>
	<key>essay</key>
	<string>book</string>
	<key>essays</key>
	<string>book</string>
	<key>exercise</key>
	<string>exercise</string>
	<key>exercising</key>
	<string>exercise</string>
	<key>family</key>
	<string>family</string>
	<key>fashion</key>
	<string>fashion</string>
	<key>fav</key>
	<string>star</string>
	<key>favorite</key>
	<string>star</string>
	<key>favorites</key>
	<string>star</string>
	<key>favourite</key>
	<string>star</string>
	<key>favourites</key>
	<string>star</string>
	<key>film</key>
	<string>cinema</string>
	<key>films</key>
	<string>cinema</string>
	<key>finance</key>
	<string>economy</string>
	<key>financial</key>
	<string>economy</string>
	<key>fitness</key>
	<string>exercise</string>
	<key>flick</key>
	<string>cinema</string>
	<key>flicks</key>
	<string>cinema</string>
	<key>food</key>
	<string>cooking</string>
	<key>foodie</key>
	<string>cooking</string>
	<key>foodies</key>
	<string>cooking</string>
	<key>football</key>
	<string>sport</string>
	<key>footwear</key>
	<string>shoes</string>
	<key>fun</key>
	<string>fun</string>
	<key>funny</key>
	<string>fun</string>
	<key>game</key>
	<string>game</string>
	<key>gamer</key>
	<string>game</string>
	<key>games</key>
	<string>game</string>
	<key>gaming</key>
	<string>game</string>
	<key>gardening</key>
	<string>nature</string>
	<key>geometry</key>
	<string>math</string>
	<key>gift</key>
	<string>present</string>
	<key>gifts</key>
	<string>present</string>
	<key>goal</key>
	<string>todo</string>
	<key>goals</key>
	<string>todo</string>
	<key>grammar</key>
	<string>typography</string>
	<key>graphic novel</key>
	<string>comics</string>
	<key>graphic novels</key>
	<string>comics</string>
	<key>groom</key>
	<string>husband</string>
	<key>handbag</key>
	<string>purse</string>
	<key>handbags</key>
	<string>purse</string>
	<key>hardware</key>
	<string>tech</string>
	<key>health</key>
	<string>health</string>
	<key>healthy</key>
	<string>health</string>
	<key>hockey</key>
	<string>sport</string>
	<key>holiday</key>
	<string>holiday</string>
	<key>holidays</key>
	<string>holiday</string>
	<key>home</key>
	<string>home</string>
	<key>house</key>
	<string>home</string>
	<key>humor</key>
	<string>fun</string>
	<key>humour</key>
	<string>fun</string>
	<key>husband</key>
	<string>husband</string>
	<key>hw</key>
	<string>tech</string>
	<key>i</key>
	<string>me</string>
	<key>idea</key>
	<string>idea</string>
	<key>ideas</key>
	<string>idea</string>
	<key>illustration</key>
	<string>art</string>
	<key>illustrations</key>
	<string>art</string>
	<key>image</key>
	<string>photography</string>
	<key>images</key>
	<string>photography</string>
	<key>inspiration</key>
	<string>idea</string>
	<key>inspirations</key>
	<string>idea</string>
	<key>instruction</key>
	<string>school</string>
	<key>italy</key>
	<string>italy</string>
	<key>job</key>
	<string>work</string>
	<key>jobs</key>
	<string>work</string>
	<key>joke</key>
	<string>fun</string>
	<key>jokes</key>
	<string>fun</string>
	<key>journal</key>
	<string>book</string>
	<key>journaling</key>
	<string>book</string>
	<key>journals</key>
	<string>book</string>
	<key>kitchen</key>
	<string>cooking</string>
	<key>kitten</key>
	<string>cat</string>
	<key>kittens</key>
	<string>cat</string>
	<key>kitties</key>
	<string>cat</string>
	<key>kitty</key>
	<string>cat</string>
	<key>landscaping</key>
	<string>nature</string>
	<key>links</key>
	<string>article</string>
	<key>love</key>
	<string>love</string>
	<key>luggage</key>
	<string>work</string>
	<key>luggages</key>
	<string>work</string>
	<key>lunch</key>
	<string>cooking</string>
	<key>lyrics</key>
	<string>music</string>
	<key>mail</key>
	<string>mail</string>
	<key>mails</key>
	<string>mail</string>
	<key>manga</key>
	<string>comics</string>
	<key>marathon</key>
	<string>exercise</string>
	<key>math</key>
	<string>math</string>
	<key>mathematics</key>
	<string>math</string>
	<key>me</key>
	<string>me</string>
	<key>meditation</key>
	<string>yoga</string>
	<key>meeting minutes</key>
	<string>article</string>
	<key>mindfullness</key>
	<string>yoga</string>
	<key>mobility</key>
	<string>car</string>
	<key>money</key>
	<string>money</string>
	<key>moon</key>
	<string>moon</string>
	<key>movie</key>
	<string>cinema</string>
	<key>music</key>
	<string>music</string>
	<key>must see</key>
	<string>places</string>
	<key>mustsee</key>
	<string>places</string>
	<key>myself</key>
	<string>me</string>
	<key>nature</key>
	<string>nature</string>
	<key>novel</key>
	<string>book</string>
	<key>novels</key>
	<string>book</string>
	<key>nutrition</key>
	<string>health</string>
	<key>outdoor</key>
	<string>holiday</string>
	<key>outfit</key>
	<string>fashion</string>
	<key>outfits</key>
	<string>fashion</string>
	<key>painting</key>
	<string>art</string>
	<key>paintings</key>
	<string>art</string>
	<key>paper</key>
	<string>article</string>
	<key>papers</key>
	<string>article</string>
	<key>pc</key>
	<string>mac</string>
	<key>peace</key>
	<string>peace</string>
	<key>personal</key>
	<string>me</string>
	<key>personal development</key>
	<string>yoga</string>
	<key>pets</key>
	<string>animal</string>
	<key>photo</key>
	<string>photography</string>
	<key>photography</key>
	<string>photography</string>
	<key>photos</key>
	<string>photography</string>
	<key>pic</key>
	<string>photography</string>
	<key>pics</key>
	<string>photography</string>
	<key>picture</key>
	<string>photography</string>
	<key>pictures</key>
	<string>photography</string>
	<key>place</key>
	<string>places</string>
	<key>places</key>
	<string>places</string>
	<key>plant</key>
	<string>nature</string>
	<key>planting</key>
	<string>nature</string>
	<key>plants</key>
	<string>nature</string>
	<key>podcast</key>
	<string>podcast</string>
	<key>podcasts</key>
	<string>podcast</string>
	<key>poem</key>
	<string>poetry</string>
	<key>poems</key>
	<string>poetry</string>
	<key>poetry</key>
	<string>poetry</string>
	<key>pokemon</key>
	<string>pokemon</string>
	<key>poo</key>
	<string>poop</string>
	<key>poop</key>
	<string>poop</string>
	<key>porn</key>
	<string>porn</string>
	<key>pornography</key>
	<string>porn</string>
	<key>posts</key>
	<string>article</string>
	<key>present</key>
	<string>present</string>
	<key>presents</key>
	<string>present</string>
	<key>privacy</key>
	<string>privacy</string>
	<key>productivity</key>
	<string>work</string>
	<key>programming</key>
	<string>development</string>
	<key>project</key>
	<string>development</string>
	<key>projects</key>
	<string>development</string>
	<key>publication</key>
	<string>book</string>
	<key>publications</key>
	<string>book</string>
	<key>puppies</key>
	<string>dog</string>
	<key>puppy</key>
	<string>dog</string>
	<key>purse</key>
	<string>purse</string>
	<key>purses</key>
	<string>purse</string>
	<key>quote</key>
	<string>quotes</string>
	<key>quotes</key>
	<string>quotes</string>
	<key>reading</key>
	<string>book</string>
	<key>readings</key>
	<string>book</string>
	<key>recipe</key>
	<string>cooking</string>
	<key>recipes</key>
	<string>cooking</string>
	<key>reference</key>
	<string>book</string>
	<key>references</key>
	<string>book</string>
	<key>research</key>
	<string>science</string>
	<key>researches</key>
	<string>science</string>
	<key>restaurant</key>
	<string>cooking</string>
	<key>restaurants</key>
	<string>cooking</string>
	<key>retail</key>
	<string>shop</string>
	<key>rodent</key>
	<string>rodents</string>
	<key>rodents</key>
	<string>rodents</string>
	<key>run</key>
	<string>exercise</string>
	<key>running</key>
	<string>exercise</string>
	<key>savings</key>
	<string>money</string>
	<key>school</key>
	<string>school</string>
	<key>schools</key>
	<string>school</string>
	<key>science</key>
	<string>science</string>
	<key>script</key>
	<string>book</string>
	<key>scripts</key>
	<string>book</string>
	<key>self development</key>
	<string>yoga</string>
	<key>sex</key>
	<string>porn</string>
	<key>shit</key>
	<string>poop</string>
	<key>shitty</key>
	<string>poop</string>
	<key>shoes</key>
	<string>shoes</string>
	<key>shop</key>
	<string>shop</string>
	<key>shopping</key>
	<string>shop</string>
	<key>shops</key>
	<string>shop</string>
	<key>skate</key>
	<string>skate</string>
	<key>skateboard</key>
	<string>skate</string>
	<key>skateboarding</key>
	<string>skate</string>
	<key>skateboards</key>
	<string>skate</string>
	<key>sketch</key>
	<string>art</string>
	<key>sketches</key>
	<string>art</string>
	<key>sneakers</key>
	<string>shoes</string>
	<key>soccer</key>
	<string>sport</string>
	<key>software</key>
	<string>app</string>
	<key>son</key>
	<string>son</string>
	<key>song</key>
	<string>music</string>
	<key>songs</key>
	<string>music</string>
	<key>sons</key>
	<string>son</string>
	<key>spiritual</key>
	<string>yoga</string>
	<key>sport</key>
	<string>sport</string>
	<key>sports</key>
	<string>sport</string>
	<key>spouse</key>
	<string>wife</string>
	<key>star</key>
	<string>star</string>
	<key>star wars</key>
	<string>star wars</string>
	<key>starred</key>
	<string>star</string>
	<key>starwars</key>
	<string>star wars</string>
	<key>statistics</key>
	<string>economy</string>
	<key>stats</key>
	<string>economy</string>
	<key>stocks</key>
	<string>economy</string>
	<key>store</key>
	<string>shop</string>
	<key>stores</key>
	<string>shop</string>
	<key>stories</key>
	<string>book</string>
	<key>storytelling</key>
	<string>book</string>
	<key>studies</key>
	<string>school</string>
	<key>study</key>
	<string>school</string>
	<key>sun</key>
	<string>sun</string>
	<key>sustainability</key>
	<string>nature</string>
	<key>sustainable</key>
	<string>nature</string>
	<key>task</key>
	<string>todo</string>
	<key>tasks</key>
	<string>todo</string>
	<key>tea</key>
	<string>tea</string>
	<key>teacher</key>
	<string>school</string>
	<key>teachers</key>
	<string>school</string>
	<key>teaching</key>
	<string>school</string>
	<key>tech</key>
	<string>tech</string>
	<key>techie</key>
	<string>tech</string>
	<key>techies</key>
	<string>tech</string>
	<key>technologies</key>
	<string>tech</string>
	<key>technology</key>
	<string>tech</string>
	<key>television</key>
	<string>tv</string>
	<key>tennis</key>
	<string>sport</string>
	<key>textbook</key>
	<string>book</string>
	<key>textbooks</key>
	<string>book</string>
	<key>theater</key>
	<string>cinema</string>
	<key>theaters</key>
	<string>cinema</string>
	<key>thoughts</key>
	<string>idea</string>
	<key>to do</key>
	<string>todo</string>
	<key>to dos</key>
	<string>todo</string>
	<key>todo</key>
	<string>todo</string>
	<key>todo list</key>
	<string>todo</string>
	<key>todo lists</key>
	<string>todo</string>
	<key>todolist</key>
	<string>todo</string>
	<key>todolists</key>
	<string>todo</string>
	<key>todos</key>
	<string>todo</string>
	<key>tracks</key>
	<string>music</string>
	<key>training</key>
	<string>exercise</string>
	<key>travel</key>
	<string>travel</string>
	<key>travels</key>
	<string>travel</string>
	<key>trend</key>
	<string>economy</string>
	<key>trends</key>
	<string>economy</string>
	<key>trip</key>
	<string>holiday</string>
	<key>trips</key>
	<string>holiday</string>
	<key>tunes</key>
	<string>music</string>
	<key>tv</key>
	<string>tv</string>
	<key>tv series</key>
	<string>tv</string>
	<key>tv show</key>
	<string>tv</string>
	<key>tv shows</key>
	<string>tv</string>
	<key>tvseries</key>
	<string>tv</string>
	<key>tvshow</key>
	<string>tv</string>
	<key>tvshows</key>
	<string>tv</string>
	<key>typography</key>
	<string>typography</string>
	<key>universities</key>
	<string>school</string>
	<key>university</key>
	<string>school</string>
	<key>vacation</key>
	<string>holiday</string>
	<key>vacations</key>
	<string>holiday</string>
	<key>valentine</key>
	<string>love</string>
	<key>valentine&apos;s day</key>
	<string>love</string>
	<key>video</key>
	<string>cinema</string>
	<key>video game</key>
	<string>game</string>
	<key>video games</key>
	<string>game</string>
	<key>videogame</key>
	<string>game</string>
	<key>videogames</key>
	<string>game</string>
	<key>videos</key>
	<string>cinema</string>
	<key>visit</key>
	<string>places</string>
	<key>vocabulary</key>
	<string>book</string>
	<key>volley</key>
	<string>sport</string>
	<key>wallet</key>
	<string>money</string>
	<key>watch</key>
	<string>watch</string>
	<key>web pages</key>
	<string>article</string>
	<key>webpages</key>
	<string>article</string>
	<key>wife</key>
	<string>wife</string>
	<key>wish list</key>
	<string>present</string>
	<key>wishlist</key>
	<string>present</string>
	<key>work</key>
	<string>work</string>
	<key>working</key>
	<string>work</string>
	<key>workout</key>
	<string>exercise</string>
	<key>world</key>
	<string>nature</string>
	<key>writing</key>
	<string>poetry</string>
	<key>writings</key>
	<string>poetry</string>
	<key>yoga</key>
	<string>yoga</string>
</dict>
</plist>
