<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a hacer</key>
	<string>todo</string>
	<key>academia</key>
	<string>school</string>
	<key>afecto</key>
	<string>love</string>
	<key>ahorro</key>
	<string>money</string>
	<key>ahorros</key>
	<string>money</string>
	<key>alimento</key>
	<string>cooking</string>
	<key>alimentos</key>
	<string>cooking</string>
	<key>amor</key>
	<string>love</string>
	<key>animal</key>
	<string>animal</string>
	<key>animales</key>
	<string>animal</string>
	<key>anime</key>
	<string>comics</string>
	<key>aplicaciones</key>
	<string>app</string>
	<key>aplicación</key>
	<string>app</string>
	<key>app</key>
	<string>app</string>
	<key>apps</key>
	<string>app</string>
	<key>armonía</key>
	<string>peace</string>
	<key>arte</key>
	<string>art</string>
	<key>artículo</key>
	<string>article</string>
	<key>artículos</key>
	<string>article</string>
	<key>atuendo</key>
	<string>fashion</string>
	<key>atuendos</key>
	<string>fashion</string>
	<key>auto</key>
	<string>car</string>
	<key>automovilismo</key>
	<string>car</string>
	<key>automóvil</key>
	<string>car</string>
	<key>automóviles</key>
	<string>car</string>
	<key>balompié</key>
	<string>sport</string>
	<key>baloncesto</key>
	<string>sport</string>
	<key>balonvolea</key>
	<string>sport</string>
	<key>balómpie</key>
	<string>sport</string>
	<key>banca</key>
	<string>economy</string>
	<key>banco</key>
	<string>economy</string>
	<key>bancos</key>
	<string>economy</string>
	<key>baseball</key>
	<string>sport</string>
	<key>basket</key>
	<string>sport</string>
	<key>beisbol</key>
	<string>sport</string>
	<key>belleza</key>
	<string>beauty</string>
	<key>bicho</key>
	<string>bug</string>
	<key>bichos</key>
	<string>bug</string>
	<key>blog</key>
	<string>article</string>
	<key>blogs</key>
	<string>article</string>
	<key>boceto</key>
	<string>art</string>
	<key>bolso</key>
	<string>purse</string>
	<key>bolsos</key>
	<string>purse</string>
	<key>bricolaje</key>
	<string>diy</string>
	<key>bride</key>
	<string>wife</string>
	<key>brides</key>
	<string>wife</string>
	<key>caca</key>
	<string>poop</string>
	<key>cacas</key>
	<string>poop</string>
	<key>cachorro</key>
	<string>dog</string>
	<key>cachorros</key>
	<string>dog</string>
	<key>café</key>
	<string>coffee</string>
	<key>calzado</key>
	<string>shoes</string>
	<key>canciones</key>
	<string>music</string>
	<key>canción</key>
	<string>music</string>
	<key>cartera</key>
	<string>purse</string>
	<key>casa</key>
	<string>home</string>
	<key>cena</key>
	<string>cooking</string>
	<key>ciencia</key>
	<string>science</string>
	<key>ciencias</key>
	<string>science</string>
	<key>cine</key>
	<string>cinema</string>
	<key>cinema</key>
	<string>cinema</string>
	<key>cita</key>
	<string>quotes</string>
	<key>citas</key>
	<string>quotes</string>
	<key>clase</key>
	<string>school</string>
	<key>clases</key>
	<string>school</string>
	<key>coche</key>
	<string>car</string>
	<key>coches</key>
	<string>car</string>
	<key>cocina</key>
	<string>cooking</string>
	<key>cocinar</key>
	<string>cooking</string>
	<key>colegio</key>
	<string>school</string>
	<key>colegios</key>
	<string>school</string>
	<key>comedia</key>
	<string>fun</string>
	<key>comida</key>
	<string>cooking</string>
	<key>composiciones</key>
	<string>music</string>
	<key>composición</key>
	<string>music</string>
	<key>compra</key>
	<string>shop</string>
	<key>compras</key>
	<string>shop</string>
	<key>confidencialidad</key>
	<string>privacy</string>
	<key>correo</key>
	<string>mail</string>
	<key>correo electrónico</key>
	<string>mail</string>
	<key>correos</key>
	<string>mail</string>
	<key>correos electrónicos</key>
	<string>mail</string>
	<key>correr</key>
	<string>exercise</string>
	<key>creatividad</key>
	<string>idea</string>
	<key>críquet</key>
	<string>sport</string>
	<key>cómic</key>
	<string>comics</string>
	<key>cómico</key>
	<string>fun</string>
	<key>cómics</key>
	<string>comics</string>
	<key>declaraciones</key>
	<string>quotes</string>
	<key>declaración</key>
	<string>quotes</string>
	<key>deporte</key>
	<string>sport</string>
	<key>deportes</key>
	<string>sport</string>
	<key>depotivos</key>
	<string>shoes</string>
	<key>desarrollo</key>
	<string>development</string>
	<key>desayuno</key>
	<string>cooking</string>
	<key>destacado</key>
	<string>star</string>
	<key>dibujo</key>
	<string>art</string>
	<key>dibujos</key>
	<string>comics</string>
	<key>dieta</key>
	<string>health</string>
	<key>dinero</key>
	<string>money</string>
	<key>diseñador</key>
	<string>design</string>
	<key>diseñadores</key>
	<string>design</string>
	<key>diseño</key>
	<string>design</string>
	<key>diseños</key>
	<string>design</string>
	<key>diversión</key>
	<string>fun</string>
	<key>divertido</key>
	<string>fun</string>
	<key>doctor misterio</key>
	<string>doctor who</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>domicilio</key>
	<string>home</string>
	<key>e-mail</key>
	<string>mail</string>
	<key>e-mails</key>
	<string>mail</string>
	<key>economía</key>
	<string>economy</string>
	<key>educación</key>
	<string>school</string>
	<key>efectivo</key>
	<string>money</string>
	<key>ejemplar</key>
	<string>book</string>
	<key>ejercicio</key>
	<string>exercise</string>
	<key>ejercicios</key>
	<string>exercise</string>
	<key>emisiones</key>
	<string>podcast</string>
	<key>emisión</key>
	<string>podcast</string>
	<key>emisión multimedia</key>
	<string>podcast</string>
	<key>enlace</key>
	<string>article</string>
	<key>enlace web</key>
	<string>article</string>
	<key>enlaces</key>
	<string>article</string>
	<key>enlaces web</key>
	<string>article</string>
	<key>entrada de blog</key>
	<string>article</string>
	<key>escribir</key>
	<string>article</string>
	<key>entrenamiento</key>
	<string>exercise</string>
	<key>entrenar</key>
	<string>exercise</string>
	<key>environment</key>
	<string>nature</string>
	<key>escapada</key>
	<string>travel</string>
	<key>escapadas</key>
	<string>travel</string>
	<key>escrito</key>
	<string>article</string>
	<key>escritura</key>
	<string>article</string>
	<key>escuela</key>
	<string>school</string>
	<key>escuelas</key>
	<string>school</string>
	<key>esposo</key>
	<string>husband</string>
	<key>estilo</key>
	<string>fashion</string>
	<key>estrella</key>
	<string>star</string>
	<key>estrellas</key>
	<string>star</string>
	<key>estética</key>
	<string>beauty</string>
	<key>excursiones</key>
	<string>travel</string>
	<key>excursión</key>
	<string>travel</string>
	<key>familia</key>
	<string>family</string>
	<key>favorito</key>
	<string>article</string>
	<key>favoritos</key>
	<string>article</string>
	<key>felino</key>
	<string>cat</string>
	<key>felinos</key>
	<string>cat</string>
	<key>fiesta</key>
	<string>holiday</string>
	<key>fiestas</key>
	<string>holiday</string>
	<key>film</key>
	<string>cinema</string>
	<key>finanzas</key>
	<string>economy</string>
	<key>football</key>
	<string>sport</string>
	<key>foto</key>
	<string>photography</string>
	<key>fotografía</key>
	<string>photography</string>
	<key>fotografías</key>
	<string>photography</string>
	<key>fotos</key>
	<string>photography</string>
	<key>fútbol</key>
	<string>sport</string>
	<key>gamer</key>
	<string>game</string>
	<key>gastronomía</key>
	<string>cooking</string>
	<key>gatito</key>
	<string>cat</string>
	<key>gatitos</key>
	<string>cat</string>
	<key>gato</key>
	<string>cat</string>
	<key>gatos</key>
	<string>cat</string>
	<key>gracioso</key>
	<string>fun</string>
	<key>gran pantalla</key>
	<string>cinema</string>
	<key>hija</key>
	<string>daughter</string>
	<key>hijas</key>
	<string>daughter</string>
	<key>hijo</key>
	<string>son</string>
	<key>hijos</key>
	<string>son</string>
	<key>historieta</key>
	<string>comics</string>
	<key>hockey</key>
	<string>sport</string>
	<key>hogar</key>
	<string>home</string>
	<key>hora</key>
	<string>watch</string>
	<key>humor</key>
	<string>fun</string>
	<key>idea</key>
	<string>idea</string>
	<key>ideas</key>
	<string>idea</string>
	<key>ilustración</key>
	<string>art</string>
	<key>imagen</key>
	<string>photography</string>
	<key>imaginación</key>
	<string>idea</string>
	<key>impreso</key>
	<string>book</string>
	<key>imágenes</key>
	<string>photography</string>
	<key>insecto</key>
	<string>bug</string>
	<key>insectos</key>
	<string>bug</string>
	<key>inspiraciones</key>
	<string>idea</string>
	<key>inspiración</key>
	<string>idea</string>
	<key>instantánea</key>
	<string>photography</string>
	<key>instantáneas</key>
	<string>photography</string>
	<key>instituto</key>
	<string>school</string>
	<key>institutos</key>
	<string>school</string>
	<key>ir de compras</key>
	<string>shop</string>
	<key>italia</key>
	<string>italy</string>
	<key>juego</key>
	<string>game</string>
	<key>juegos</key>
	<string>game</string>
	<key>jugador</key>
	<string>game</string>
	<key>jugadores</key>
	<string>game</string>
	<key>labor</key>
	<string>work</string>
	<key>lectura</key>
	<string>book</string>
	<key>letra</key>
	<string>music</string>
	<key>libro</key>
	<string>book</string>
	<key>libros</key>
	<string>book</string>
	<key>lista</key>
	<string>todo</string>
	<key>lugar</key>
	<string>places</string>
	<key>lugares</key>
	<string>places</string>
	<key>luna</key>
	<string>moon</string>
	<key>manga</key>
	<string>comics</string>
	<key>manual</key>
	<string>book</string>
	<key>manuales</key>
	<string>book</string>
	<key>manualidad</key>
	<string>diy</string>
	<key>manualidades</key>
	<string>diy</string>
	<key>maratón</key>
	<string>exercise</string>
	<key>marcar</key>
	<string>article</string>
	<key>marido</key>
	<string>husband</string>
	<key>melodía</key>
	<string>music</string>
	<key>melodías</key>
	<string>music</string>
	<key>mercado</key>
	<string>economy</string>
	<key>mercados</key>
	<string>economy</string>
	<key>metálico</key>
	<string>money</string>
	<key>mi</key>
	<string>me</string>
	<key>minino</key>
	<string>cat</string>
	<key>mininos</key>
	<string>cat</string>
	<key>moda</key>
	<string>fashion</string>
	<key>modelito</key>
	<string>fashion</string>
	<key>modelitos</key>
	<string>fashion</string>
	<key>modelo</key>
	<string>fashion</string>
	<key>modelos</key>
	<string>fashion</string>
	<key>monedero</key>
	<string>purse</string>
	<key>monopatín</key>
	<string>skate</string>
	<key>mí</key>
	<string>me</string>
	<key>música</key>
	<string>music</string>
	<key>nature</key>
	<string>nature</string>
	<key>negocios</key>
	<string>work</string>
	<key>niña</key>
	<string>daughter</string>
	<key>niñas</key>
	<string>daughter</string>
	<key>novela</key>
	<string>book</string>
	<key>novela gráfica</key>
	<string>comics</string>
	<key>novelas</key>
	<string>book</string>
	<key>novelas gráficas</key>
	<string>comics</string>
	<key>nutrición</key>
	<string>health</string>
	<key>nutritivo</key>
	<string>health</string>
	<key>obra</key>
	<string>book</string>
	<key>ocupación</key>
	<string>work</string>
	<key>parentesco</key>
	<string>family</string>
	<key>patinaje</key>
	<string>skate</string>
	<key>patines</key>
	<string>skate</string>
	<key>patín</key>
	<string>skate</string>
	<key>paz</key>
	<string>peace</string>
	<key>peli</key>
	<string>cinema</string>
	<key>pelis</key>
	<string>cinema</string>
	<key>película</key>
	<string>cinema</string>
	<key>películas</key>
	<string>cinema</string>
	<key>perrito</key>
	<string>dog</string>
	<key>perritos</key>
	<string>dog</string>
	<key>perro</key>
	<string>dog</string>
	<key>perros</key>
	<string>dog</string>
	<key>pincel</key>
	<string>art</string>
	<key>pincelada</key>
	<string>art</string>
	<key>pintura</key>
	<string>art</string>
	<key>pinturas</key>
	<string>art</string>
	<key>plan</key>
	<string>development</string>
	<key>podcast</key>
	<string>podcast</string>
	<key>poema</key>
	<string>poetry</string>
	<key>poemas</key>
	<string>poetry</string>
	<key>poesía</key>
	<string>poetry</string>
	<key>pokemon</key>
	<string>pokemon</string>
	<key>porno</key>
	<string>porn</string>
	<key>pornografía</key>
	<string>porn</string>
	<key>post</key>
	<string>article</string>
	<key>post de blog</key>
	<string>article</string>
	<key>presente</key>
	<string>present</string>
	<key>privacidad</key>
	<string>privacy</string>
	<key>programa de televisión</key>
	<string>tv</string>
	<key>programación</key>
	<string>tv</string>
	<key>programador</key>
	<string>development</string>
	<key>programadores</key>
	<string>development</string>
	<key>programar</key>
	<string>development</string>
	<key>proyecto</key>
	<string>development</string>
	<key>proyectos</key>
	<string>development</string>
	<key>publicaciones</key>
	<string>article</string>
	<key>publicación</key>
	<string>book</string>
	<key>quehacer</key>
	<string>todo</string>
	<key>quehaceres</key>
	<string>todo</string>
	<key>querer</key>
	<string>love</string>
	<key>recado</key>
	<string>todo</string>
	<key>recados</key>
	<string>todo</string>
	<key>receta</key>
	<string>cooking</string>
	<key>recetas</key>
	<string>cooking</string>
	<key>redacción</key>
	<string>article</string>
	<key>regalo</key>
	<string>present</string>
	<key>regalos</key>
	<string>present</string>
	<key>reloj</key>
	<string>watch</string>
	<key>relojes</key>
	<string>watch</string>
	<key>rentaurantes</key>
	<string>cooking</string>
	<key>reseña</key>
	<string>article</string>
	<key>residencia</key>
	<string>home</string>
	<key>restaurante</key>
	<string>cooking</string>
	<key>retransmisión</key>
	<string>podcast</string>
	<key>retrato</key>
	<string>photography</string>
	<key>retratos</key>
	<string>photography</string>
	<key>rima</key>
	<string>poetry</string>
	<key>rimas</key>
	<string>poetry</string>
	<key>rincones</key>
	<string>places</string>
	<key>rincón</key>
	<string>places</string>
	<key>roedor</key>
	<string>rodents</string>
	<key>roedores</key>
	<string>rodents</string>
	<key>ropa</key>
	<string>fashion</string>
	<key>runner</key>
	<string>exercise</string>
	<key>salud</key>
	<string>health</string>
	<key>saludable</key>
	<string>health</string>
	<key>san valentín</key>
	<string>love</string>
	<key>sanidad</key>
	<string>health</string>
	<key>serie de televisión</key>
	<string>tv</string>
	<key>sexo</key>
	<string>porn</string>
	<key>shopping</key>
	<string>shop</string>
	<key>sitio</key>
	<string>places</string>
	<key>sitios</key>
	<string>places</string>
	<key>software</key>
	<string>app</string>
	<key>sol</key>
	<string>sun</string>
	<key>solar</key>
	<string>sun</string>
	<key>spouse</key>
	<string>wife</string>
	<key>star wars</key>
	<string>star wars</string>
	<key>starwars</key>
	<string>star wars</string>
	<key>tarea</key>
	<string>todo</string>
	<key>tareas</key>
	<string>todo</string>
	<key>teatro</key>
	<string>cinema</string>
	<key>tebeo</key>
	<string>comics</string>
	<key>tebeos</key>
	<string>comics</string>
	<key>tecnología</key>
	<string>tech</string>
	<key>tecnológico</key>
	<string>tech</string>
	<key>tegnologías</key>
	<string>tech</string>
	<key>tele</key>
	<string>tv</string>
	<key>teles</key>
	<string>tv</string>
	<key>televisiones</key>
	<string>tv</string>
	<key>televisión</key>
	<string>tv</string>
	<key>tema</key>
	<string>music</string>
	<key>temas</key>
	<string>music</string>
	<key>tenis</key>
	<string>sport</string>
	<key>tienda</key>
	<string>shop</string>
	<key>tiendas</key>
	<string>shop</string>
	<key>tipografía</key>
	<string>typography</string>
	<key>trabajar</key>
	<string>work</string>
	<key>trabajo</key>
	<string>work</string>
	<key>trabajos</key>
	<string>work</string>
	<key>transmisión</key>
	<string>podcast</string>
	<key>trazo</key>
	<string>art</string>
	<key>turismo</key>
	<string>places</string>
	<key>té</key>
	<string>tea</string>
	<key>técnico</key>
	<string>tech</string>
	<key>técnicos</key>
	<string>tech</string>
	<key>universidad</key>
	<string>school</string>
	<key>universidades</key>
	<string>school</string>
	<key>unión</key>
	<string>peace</string>
	<key>vacaciones</key>
	<string>holiday</string>
	<key>vacación</key>
	<string>holiday</string>
	<key>vehículo</key>
	<string>car</string>
	<key>vehículos</key>
	<string>car</string>
	<key>viajar</key>
	<string>travel</string>
	<key>viaje</key>
	<string>travel</string>
	<key>viajes</key>
	<string>travel</string>
	<key>videojuego</key>
	<string>game</string>
	<key>videojuegos</key>
	<string>game</string>
	<key>visitar</key>
	<string>places</string>
	<key>vivienda</key>
	<string>home</string>
	<key>voleibol</key>
	<string>sport</string>
	<key>volumen</key>
	<string>book</string>
	<key>vólibol</key>
	<string>sport</string>
	<key>wife</key>
	<string>wife</string>
	<key>world</key>
	<string>nature</string>
	<key>yo</key>
	<string>me</string>
	<key>yo mismo</key>
	<string>me</string>
	<key>yoga</key>
	<string>yoga</string>
	<key>zapatilla</key>
	<string>shoes</string>
	<key>zapatillas</key>
	<string>shoes</string>
	<key>zapato</key>
	<string>shoes</string>
	<key>zapatos</key>
	<string>shoes</string>
</dict>
</plist>
