<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a faire</key>
	<string>todo</string>
	<key>todo</key>
	<string>todo</string>
	<key>a faire soi-même</key>
	<string>diy</string>
	<key>a voir</key>
	<string>places</string>
	<key>actions</key>
	<string>economy</string>
	<key>amour</key>
	<string>love</string>
	<key>animal</key>
	<string>animal</string>
	<key>animaux</key>
	<string>animal</string>
	<key>app</key>
	<string>app</string>
	<key>appli</key>
	<string>app</string>
	<key>argent</key>
	<string>money</string>
	<key>art</key>
	<string>art</string>
	<key>article</key>
	<string>article</string>
	<key>articles</key>
	<string>article</string>
	<key>bagnole</key>
	<string>car</string>
	<key>bande dessinée</key>
	<string>comics</string>
	<key>banque</key>
	<string>economy</string>
	<key>baseball</key>
	<string>sport</string>
	<key>basekts</key>
	<string>shoes</string>
	<key>basketball</key>
	<string>sport</string>
	<key>bate</key>
	<string>sport</string>
	<key>bd</key>
	<string>comics</string>
	<key>beach volley</key>
	<string>sport</string>
	<key>beauté</key>
	<string>beauty</string>
	<key>blog</key>
	<string>article</string>
	<key>blogueur</key>
	<string>article</string>
	<key>écriture</key>
	<string>poetry</string>
	<key>bogue</key>
	<string>bug</string>
	<key>bottes</key>
	<string>shoes</string>
	<key>bricolage</key>
	<string>diy</string>
	<key>bug</key>
	<string>bug</string>
	<key>caca</key>
	<string>poop</string>
	<key>cadeau</key>
	<string>present</string>
	<key>cafetéria</key>
	<string>cooking</string>
	<key>café</key>
	<string>coffee</string>
	<key>cappuccino</key>
	<string>coffee</string>
	<key>centre commercial</key>
	<string>shop</string>
	<key>chanson</key>
	<string>music</string>
	<key>chat</key>
	<string>cat</string>
	<key>chaton</key>
	<string>cat</string>
	<key>chaussures</key>
	<string>shoes</string>
	<key>chien</key>
	<string>dog</string>
	<key>chiot</key>
	<string>dog</string>
	<key>cinéma</key>
	<string>cinema</string>
	<key>citation</key>
	<string>quotes</string>
	<key>classe</key>
	<string>school</string>
	<key>cliché</key>
	<string>photography</string>
	<key>photo</key>
	<string>photography</string>
	<key>photos</key>
	<string>photography</string>
	<key>code</key>
	<string>development</string>
	<key>collège</key>
	<string>school</string>
	<key>confidentialité</key>
	<string>privacy</string>
	<key>congés</key>
	<string>holiday</string>
	<key>courrier</key>
	<string>mail</string>
	<key>courrier électronique</key>
	<string>mail</string>
	<key>course à pied</key>
	<string>exercise</string>
	<key>cricket</key>
	<string>sport</string>
	<key>croquis</key>
	<string>art</string>
	<key>cuisine</key>
	<string>cooking</string>
	<key>cupidon</key>
	<string>love</string>
	<key>design</key>
	<string>design</string>
	<key>designer</key>
	<string>design</string>
	<key>dessin</key>
	<string>art</string>
	<key>dessin animé</key>
	<string>comics</string>
	<key>diy</key>
	<string>diy</string>
	<key>do it yourself</key>
	<string>diy</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>drôle</key>
	<string>fun</string>
	<key>déjeuner</key>
	<string>cooking</string>
	<key>dév</key>
	<string>development</string>
	<key>développement</key>
	<string>development</string>
	<key>développeur</key>
	<string>development</string>
	<key>dîner</key>
	<string>cooking</string>
	<key>e-mail</key>
	<string>mail</string>
	<key>ecole</key>
	<string>school</string>
	<key>economie</key>
	<string>economy</string>
	<key>economies</key>
	<string>money</string>
	<key>ecriture</key>
	<string>article</string>
	<key>education</key>
	<string>school</string>
	<key>emission tv</key>
	<string>tv</string>
	<key>emission télé</key>
	<string>tv</string>
	<key>endroits</key>
	<string>places</string>
	<key>ensemble</key>
	<string>fashion</string>
	<key>entraînement</key>
	<string>exercise</string>
	<key>environnement</key>
	<string>nature</string>
	<key>epouse</key>
	<string>wife</string>
	<key>epoux</key>
	<string>husband</string>
	<key>espresso</key>
	<string>coffee</string>
	<key>espèces</key>
	<string>money</string>
	<key>essai</key>
	<string>book</string>
	<key>exercice</key>
	<string>exercise</string>
	<key>famille</key>
	<string>family</string>
	<key>fashion</key>
	<string>fashion</string>
	<key>favori</key>
	<string>article</string>
	<key>femme</key>
	<string>wife</string>
	<key>fille</key>
	<string>daughter</string>
	<key>film</key>
	<string>cinema</string>
	<key>fils</key>
	<string>son</string>
	<key>finance</key>
	<string>economy</string>
	<key>fitness</key>
	<string>exercise</string>
	<key>football</key>
	<string>sport</string>
	<key>foyer</key>
	<string>home</string>
	<key>fun</key>
	<string>fun</string>
	<key>gamer</key>
	<string>game</string>
	<key>gaming</key>
	<string>game</string>
	<key>hockey</key>
	<string>sport</string>
	<key>humour</key>
	<string>fun</string>
	<key>idée</key>
	<string>idea</string>
	<key>idées</key>
	<string>idea</string>
	<key>illustration</key>
	<string>art</string>
	<key>illustrations</key>
	<string>art</string>
	<key>image</key>
	<string>photography</string>
	<key>inspiration</key>
	<string>idea</string>
	<key>italie</key>
	<string>italy</string>
	<key>jeu</key>
	<string>game</string>
	<key>jeu vidéo</key>
	<string>game</string>
	<key>jeux</key>
	<string>game</string>
	<key>jeux vidéo</key>
	<string>game</string>
	<key>job</key>
	<string>work</string>
	<key>lecture</key>
	<string>book</string>
	<key>lien</key>
	<string>article</string>
	<key>lieux</key>
	<string>places</string>
	<key>lire</key>
	<string>book</string>
	<key>liste de choses à faire</key>
	<string>todo</string>
	<key>liste de tâches</key>
	<string>todo</string>
	<key>liste de vœux</key>
	<string>present</string>
	<key>livre</key>
	<string>book</string>
	<key>logiciel</key>
	<string>app</string>
	<key>lune</key>
	<string>moon</string>
	<key>lycée</key>
	<string>school</string>
	<key>magasin</key>
	<string>shop</string>
	<key>maison</key>
	<string>home</string>
	<key>manga</key>
	<string>comics</string>
	<key>marathon</key>
	<string>exercise</string>
	<key>mari</key>
	<string>husband</string>
	<key>marié</key>
	<string>husband</string>
	<key>mariée</key>
	<string>wife</string>
	<key>matou</key>
	<string>cat</string>
	<key>merde</key>
	<string>poop</string>
	<key>merdique</key>
	<string>poop</string>
	<key>minou</key>
	<string>cat</string>
	<key>mode</key>
	<string>fashion</string>
	<key>moi</key>
	<string>me</string>
	<key>moi-même</key>
	<string>me</string>
	<key>monde</key>
	<string>nature</string>
	<key>montre</key>
	<string>watch</string>
	<key>musique</key>
	<string>music</string>
	<key>nature</key>
	<string>nature</string>
	<key>nourriture</key>
	<string>cooking</string>
	<key>nutrition</key>
	<string>health</string>
	<key>page web</key>
	<string>article</string>
	<key>paix</key>
	<string>peace</string>
	<key>paroles</key>
	<string>music</string>
	<key>peinture</key>
	<string>art</string>
	<key>perdre du poids</key>
	<string>health</string>
	<key>petit-déjeuner</key>
	<string>cooking</string>
	<key>photographie</key>
	<string>photography</string>
	<key>pikatchu</key>
	<string>pokemon</string>
	<key>podcast</key>
	<string>podcast</string>
	<key>podcasts</key>
	<string>podcast</string>
	<key>pokemon</key>
	<string>pokemon</string>
	<key>porno</key>
	<string>porn</string>
	<key>pornographie</key>
	<string>porn</string>
	<key>portefeuille</key>
	<string>money</string>
	<key>portemonnaie</key>
	<string>purse</string>
	<key>poème</key>
	<string>poetry</string>
	<key>poésie</key>
	<string>poetry</string>
	<key>profession</key>
	<string>work</string>
	<key>projet</key>
	<string>development</string>
	<key>publication</key>
	<string>article</string>
	<key>rapport de bogue</key>
	<string>bug</string>
	<key>rapport de bug</key>
	<string>bug</string>
	<key>rat</key>
	<string>rodents</string>
	<key>recettes</key>
	<string>cooking</string>
	<key>restaurant</key>
	<string>cooking</string>
	<key>revendeur</key>
	<string>shop</string>
	<key>rigolo</key>
	<string>fun</string>
	<key>roman</key>
	<string>book</string>
	<key>rongeurs</key>
	<string>rodents</string>
	<key>running</key>
	<string>exercise</string>
	<key>régime</key>
	<string>health</string>
	<key>sac à main</key>
	<string>purse</string>
	<key>saint valentin</key>
	<string>love</string>
	<key>santé</key>
	<string>health</string>
	<key>science</key>
	<string>science</string>
	<key>scientifique</key>
	<string>science</string>
	<key>sexe</key>
	<string>porn</string>
	<key>sexuel</key>
	<string>porn</string>
	<key>shopping</key>
	<string>shop</string>
	<key>show tv</key>
	<string>tv</string>
	<key>show télé</key>
	<string>tv</string>
	<key>skate</key>
	<string>skate</string>
	<key>skateboard</key>
	<string>skate</string>
	<key>skateboarding</key>
	<string>skate</string>
	<key>skateboards</key>
	<string>skate</string>
	<key>sneakers</key>
	<string>shoes</string>
	<key>soleil</key>
	<string>sun</string>
	<key>souris</key>
	<string>rodents</string>
	<key>sport</key>
	<string>sport</string>
	<key>star</key>
	<string>star</string>
	<key>star wars</key>
	<string>star wars</string>
	<key>starwars</key>
	<string>star wars</string>
	<key>série tv</key>
	<string>tv</string>
	<key>série télé</key>
	<string>tv</string>
	<key>tech</key>
	<string>tech</string>
	<key>technologie</key>
	<string>tech</string>
	<key>technologies</key>
	<string>tech</string>
	<key>techos</key>
	<string>tech</string>
	<key>tennis</key>
	<string>sport</string>
	<key>the doctor</key>
	<string>doctor who</string>
	<key>thé</key>
	<string>tea</string>
	<key>travail</key>
	<string>work</string>
	<key>tv</key>
	<string>tv</string>
	<key>typographie</key>
	<string>typography</string>
	<key>tâche</key>
	<string>todo</string>
	<key>télévision</key>
	<string>tv</string>
	<key>université</key>
	<string>school</string>
	<key>vacances</key>
	<string>travel</string>
	<key>valentin</key>
	<string>love</string>
	<key>valentine</key>
	<string>love</string>
	<key>vie privée</key>
	<string>privacy</string>
	<key>visiter</key>
	<string>places</string>
	<key>voiture</key>
	<string>car</string>
	<key>volley</key>
	<string>sport</string>
	<key>volleyball</key>
	<string>sport</string>
	<key>voyage</key>
	<string>travel</string>
	<key>vêtements</key>
	<string>fashion</string>
	<key>yoga</key>
	<string>yoga</string>
</dict>
</plist>
