<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbigliamento</key>
	<string>fashion</string>
	<key>acquistare</key>
	<string>shop</string>
	<key>affetti</key>
	<string>love</string>
	<key>affetto</key>
	<string>love</string>
	<key>ambiente</key>
	<string>nature</string>
	<key>amore</key>
	<string>love</string>
	<key>animale</key>
	<string>animal</string>
	<key>animali</key>
	<string>animal</string>
	<key>anime</key>
	<string>comics</string>
	<key>app</key>
	<string>app</string>
	<key>apps</key>
	<string>app</string>
	<key>appunti</key>
	<string>article</string>
	<key>arte</key>
	<string>art</string>
	<key>articoli</key>
	<string>article</string>
	<key>articolo</key>
	<string>article</string>
	<key>atletica</key>
	<string>exercise</string>
	<key>automobile</key>
	<string>car</string>
	<key>automobili</key>
	<string>car</string>
	<key>banca</key>
	<string>economy</string>
	<key>baseball</key>
	<string>sport</string>
	<key>basketball</key>
	<string>sport</string>
	<key>beach volley</key>
	<string>sport</string>
	<key>beauty</key>
	<string>beauty</string>
	<key>bellezza</key>
	<string>beauty</string>
	<key>blog</key>
	<string>article</string>
	<key>blog post</key>
	<string>article</string>
	<key>blog posts</key>
	<string>article</string>
	<key>bookmark</key>
	<string>article</string>
	<key>bookmarks</key>
	<string>article</string>
	<key>borsa</key>
	<string>purse</string>
	<key>borse</key>
	<string>purse</string>
	<key>bricolage</key>
	<string>diy</string>
	<key>bug</key>
	<string>bug</string>
	<key>bugs</key>
	<string>bug</string>
	<key>business</key>
	<string>work</string>
	<key>cacca</key>
	<string>poop</string>
	<key>caffe</key>
	<string>coffee</string>
	<key>caffè</key>
	<string>coffee</string>
	<key>calcio</key>
	<string>sport</string>
	<key>calzature</key>
	<string>shoes</string>
	<key>cane</key>
	<string>dog</string>
	<key>cani</key>
	<string>dog</string>
	<key>canidi</key>
	<string>dog</string>
	<key>canzone</key>
	<string>music</string>
	<key>canzoni</key>
	<string>music</string>
	<key>cartoni</key>
	<string>comics</string>
	<key>cartoni animati</key>
	<string>comics</string>
	<key>casa</key>
	<string>home</string>
	<key>cena</key>
	<string>cooking</string>
	<key>champions league</key>
	<string>sport</string>
	<key>cibo</key>
	<string>cooking</string>
	<key>cinema</key>
	<string>cinema</string>
	<key>citazione</key>
	<string>quotes</string>
	<key>citazioni</key>
	<string>quotes</string>
	<key>code</key>
	<string>development</string>
	<key>codice</key>
	<string>development</string>
	<key>colazione</key>
	<string>cooking</string>
	<key>collegamenti</key>
	<string>article</string>
	<key>compiti</key>
	<string>todo</string>
	<key>compito</key>
	<string>todo</string>
	<key>correre</key>
	<string>exercise</string>
	<key>corsi</key>
	<string>school</string>
	<key>corso</key>
	<string>school</string>
	<key>costellazione</key>
	<string>star</string>
	<key>cricket</key>
	<string>sport</string>
	<key>cucina</key>
	<string>cooking</string>
	<key>da comprare</key>
	<string>shop</string>
	<key>da fare</key>
	<string>todo</string>
	<key>da vedere</key>
	<string>places</string>
	<key>da visitare</key>
	<string>places</string>
	<key>design</key>
	<string>design</string>
	<key>designer</key>
	<string>design</string>
	<key>developer</key>
	<string>development</string>
	<key>dieta</key>
	<string>health</string>
	<key>diete</key>
	<string>health</string>
	<key>dipinti</key>
	<string>art</string>
	<key>dipinto</key>
	<string>art</string>
	<key>disegni</key>
	<string>art</string>
	<key>disegno</key>
	<string>art</string>
	<key>diy</key>
	<string>diy</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>doni</key>
	<string>present</string>
	<key>dono</key>
	<string>present</string>
	<key>economia</key>
	<string>economy</string>
	<key>educazione</key>
	<string>school</string>
	<key>email</key>
	<string>mail</string>
	<key>emails</key>
	<string>mail</string>
	<key>escursione</key>
	<string>travel</string>
	<key>escursioni</key>
	<string>travel</string>
	<key>esercizio</key>
	<string>exercise</string>
	<key>fai da te</key>
	<string>diy</string>
	<key>famiglia</key>
	<string>family</string>
	<key>fashion</key>
	<string>fashion</string>
	<key>figli</key>
	<string>son</string>
	<key>figlia</key>
	<string>daughter</string>
	<key>figlie</key>
	<string>daughter</string>
	<key>figlio</key>
	<string>son</string>
	<key>film</key>
	<string>cinema</string>
	<key>finanza</key>
	<string>economy</string>
	<key>finanze</key>
	<string>economy</string>
	<key>fondi</key>
	<string>money</string>
	<key>football</key>
	<string>sport</string>
	<key>fotografia</key>
	<string>photography</string>
	<key>fotografie</key>
	<string>photography</string>
	<key>foto</key>
	<string>photography</string>
	<key>fumetti</key>
	<string>comics</string>
	<key>fumetto</key>
	<string>comics</string>
	<key>fun</key>
	<string>fun</string>
	<key>gaming</key>
	<string>game</string>
	<key>gatti</key>
	<string>cat</string>
	<key>gattini</key>
	<string>cat</string>
	<key>gattino</key>
	<string>cat</string>
	<key>gatto</key>
	<string>cat</string>
	<key>giochi</key>
	<string>game</string>
	<key>gita</key>
	<string>travel</string>
	<key>gite</key>
	<string>travel</string>
	<key>graphic novel</key>
	<string>comics</string>
	<key>guerre stellari</key>
	<string>star wars</string>
	<key>hockey</key>
	<string>sport</string>
	<key>hockey su ghiaccio</key>
	<string>sport</string>
	<key>humor</key>
	<string>fun</string>
	<key>idea</key>
	<string>idea</string>
	<key>idee</key>
	<string>idea</string>
	<key>illustrazione</key>
	<string>art</string>
	<key>illustrazioni</key>
	<string>art</string>
	<key>immagine</key>
	<string>photography</string>
	<key>immagini</key>
	<string>photography</string>
	<key>in salute</key>
	<string>health</string>
	<key>insegnamento</key>
	<string>school</string>
	<key>io</key>
	<string>me</string>
	<key>ispirazione</key>
	<string>idea</string>
	<key>ispirazioni</key>
	<string>idea</string>
	<key>italia</key>
	<string>italy</string>
	<key>lavoro</key>
	<string>work</string>
	<key>letture</key>
	<string>book</string>
	<key>lezione</key>
	<string>school</string>
	<key>lezioni</key>
	<string>school</string>
	<key>libri</key>
	<string>book</string>
	<key>libri di testo</key>
	<string>book</string>
	<key>libro</key>
	<string>book</string>
	<key>libro di testo</key>
	<string>book</string>
	<key>liceo</key>
	<string>school</string>
	<key>lista dei regali</key>
	<string>present</string>
	<key>lista regali</key>
	<string>present</string>
	<key>luna</key>
	<string>moon</string>
	<key>mail</key>
	<string>mail</string>
	<key>mails</key>
	<string>mail</string>
	<key>manga</key>
	<string>comics</string>
	<key>maratona</key>
	<string>exercise</string>
	<key>marito</key>
	<string>husband</string>
	<key>me</key>
	<string>me</string>
	<key>me stesso</key>
	<string>me</string>
	<key>merda</key>
	<string>poop</string>
	<key>merdosi</key>
	<string>poop</string>
	<key>merdoso</key>
	<string>poop</string>
	<key>mici</key>
	<string>cat</string>
	<key>micio</key>
	<string>cat</string>
	<key>moda</key>
	<string>fashion</string>
	<key>moglie</key>
	<string>wife</string>
	<key>mondo</key>
	<string>nature</string>
	<key>music</key>
	<string>music</string>
	<key>musica</key>
	<string>music</string>
	<key>natura</key>
	<string>nature</string>
	<key>negozi</key>
	<string>shop</string>
	<key>negozio</key>
	<string>shop</string>
	<key>opera</key>
	<string>cinema</string>
	<key>orologio</key>
	<string>watch</string>
	<key>pace</key>
	<string>peace</string>
	<key>pagine web</key>
	<string>article</string>
	<key>scrittura</key>
	<string>poetry</string>
	<key>pallacanestro</key>
	<string>sport</string>
	<key>pallavolo</key>
	<string>sport</string>
	<key>photo</key>
	<string>photography</string>
	<key>photos</key>
	<string>photography</string>
	<key>piani di lavoro</key>
	<string>development</string>
	<key>piano di lavoro</key>
	<string>development</string>
	<key>pics</key>
	<string>photography</string>
	<key>podcast</key>
	<string>podcast</string>
	<key>podcasts</key>
	<string>podcast</string>
	<key>poema</key>
	<string>poetry</string>
	<key>poemi</key>
	<string>poetry</string>
	<key>poesia</key>
	<string>poetry</string>
	<key>poesie</key>
	<string>poetry</string>
	<key>pokemon</key>
	<string>pokemon</string>
	<key>popo</key>
	<string>poop</string>
	<key>porno</key>
	<string>porn</string>
	<key>pornografia</key>
	<string>porn</string>
	<key>portafogli</key>
	<string>money</string>
	<key>portafoglio</key>
	<string>money</string>
	<key>posti</key>
	<string>places</string>
	<key>pranzo</key>
	<string>cooking</string>
	<key>privacy</key>
	<string>privacy</string>
	<key>progetti</key>
	<string>development</string>
	<key>progetto</key>
	<string>development</string>
	<key>pubblicazione</key>
	<string>book</string>
	<key>pubblicazioni</key>
	<string>book</string>
	<key>regali</key>
	<string>present</string>
	<key>regalo</key>
	<string>present</string>
	<key>ricetta</key>
	<string>cooking</string>
	<key>ricette</key>
	<string>cooking</string>
	<key>ridere</key>
	<string>fun</string>
	<key>risate</key>
	<string>fun</string>
	<key>riservato</key>
	<string>privacy</string>
	<key>risparmi</key>
	<string>money</string>
	<key>risparmio</key>
	<string>money</string>
	<key>ristorante</key>
	<string>cooking</string>
	<key>ristoranti</key>
	<string>cooking</string>
	<key>roditore</key>
	<string>rodents</string>
	<key>roditori</key>
	<string>rodents</string>
	<key>romanzi</key>
	<string>book</string>
	<key>romanzo</key>
	<string>book</string>
	<key>run</key>
	<string>exercise</string>
	<key>runners</key>
	<string>exercise</string>
	<key>running</key>
	<string>exercise</string>
	<key>salutare</key>
	<string>health</string>
	<key>salute</key>
	<string>health</string>
	<key>san valentino</key>
	<string>love</string>
	<key>scarpe</key>
	<string>shoes</string>
	<key>schizzi</key>
	<string>art</string>
	<key>schizzo</key>
	<string>art</string>
	<key>scienza</key>
	<string>science</string>
	<key>scritti</key>
	<string>article</string>
	<key>scritto</key>
	<string>article</string>
	<key>scuola</key>
	<string>school</string>
	<key>segna libri</key>
	<string>article</string>
	<key>segnalibri</key>
	<string>article</string>
	<key>serie</key>
	<string>tv</string>
	<key>serie a</key>
	<string>sport</string>
	<key>serie b</key>
	<string>sport</string>
	<key>serie tv</key>
	<string>tv</string>
	<key>sesso</key>
	<string>porn</string>
	<key>shopping</key>
	<string>shop</string>
	<key>skateboard</key>
	<string>skate</string>
	<key>software</key>
	<string>app</string>
	<key>soldi</key>
	<string>money</string>
	<key>sole</key>
	<string>sun</string>
	<key>sport</key>
	<string>sport</string>
	<key>sposa</key>
	<string>wife</string>
	<key>sposo</key>
	<string>husband</string>
	<key>star wars</key>
	<string>star wars</string>
	<key>starwars</key>
	<string>star wars</string>
	<key>stelle</key>
	<string>star</string>
	<key>stella</key>
	<string>star</string>
	<key>star</key>
	<string>star</string>
	<key>sviluppatore</key>
	<string>development</string>
	<key>sviluppatori</key>
	<string>development</string>
	<key>sviluppo</key>
	<string>development</string>
	<key>tea</key>
	<string>tea</string>
	<key>teatro</key>
	<string>cinema</string>
	<key>tech</key>
	<string>tech</string>
	<key>technology</key>
	<string>tech</string>
	<key>tecnologia</key>
	<string>tech</string>
	<key>tecnologie</key>
	<string>tech</string>
	<key>televisione</key>
	<string>tv</string>
	<key>tema</key>
	<string>book</string>
	<key>temi</key>
	<string>book</string>
	<key>tennis</key>
	<string>sport</string>
	<key>terra</key>
	<string>nature</string>
	<key>the doctor</key>
	<string>doctor who</string>
	<key>tipografia</key>
	<string>typography</string>
	<key>todo</key>
	<string>todo</string>
	<key>todos</key>
	<string>todo</string>
	<key>tv</key>
	<string>tv</string>
	<key>tv shows</key>
	<string>tv</string>
	<key>tè</key>
	<string>tea</string>
	<key>università</key>
	<string>school</string>
	<key>vacanza</key>
	<string>holiday</string>
	<key>vacanze</key>
	<string>holiday</string>
	<key>vestiario</key>
	<string>fashion</string>
	<key>vestiti</key>
	<string>fashion</string>
	<key>vestito</key>
	<string>fashion</string>
	<key>vettura</key>
	<string>car</string>
	<key>vetture</key>
	<string>car</string>
	<key>viaggi</key>
	<string>travel</string>
	<key>viaggio</key>
	<string>travel</string>
	<key>video game</key>
	<string>game</string>
	<key>video games</key>
	<string>game</string>
	<key>video giochi</key>
	<string>game</string>
	<key>video gioco</key>
	<string>game</string>
	<key>videogame</key>
	<string>game</string>
	<key>videogames</key>
	<string>game</string>
	<key>volley</key>
	<string>sport</string>
	<key>work</key>
	<string>work</string>
	<key>yoga</key>
	<string>yoga</string>
	<key>cat</key>
	<string>cat</string>
	<key>car</key>
	<string>car</string>
	<key>comics</key>
	<string>comics</string>
	<key>movies</key>
	<string>cinema</string>
	<key>school</key>
	<string>school</string>
</dict>
</plist>
