<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diy</key>
	<string>diy</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>eメール</key>
	<string>mail</string>
	<key>todo</key>
	<string>todo</string>
	<key>todoリスト</key>
	<string>todo</string>
	<key>tv</key>
	<string>tv</string>
	<key>tvシリーズ</key>
	<string>tv</string>
	<key>webページ</key>
	<string>article</string>
	<key>執筆</key>
	<string>poetry</string>
	<key>書く</key>
	<string>poetry</string>
	<key>あたし</key>
	<string>me</string>
	<key>うんこ</key>
	<string>poop</string>
	<key>うんち</key>
	<string>poop</string>
	<key>おもしろ</key>
	<string>fun</string>
	<key>お店</key>
	<string>shop</string>
	<key>お絵かき</key>
	<string>art</string>
	<key>お茶</key>
	<string>tea</string>
	<key>お金</key>
	<string>money</string>
	<key>げっ歯類</key>
	<string>rodents</string>
	<key>しおり</key>
	<string>article</string>
	<key>ねこ</key>
	<string>cat</string>
	<key>ひらめき</key>
	<string>idea</string>
	<key>やること</key>
	<string>todo</string>
	<key>やることリスト</key>
	<string>todo</string>
	<key>わたし</key>
	<string>me</string>
	<key>アイデア</key>
	<string>idea</string>
	<key>アカデミー</key>
	<string>school</string>
	<key>アダルト</key>
	<string>porn</string>
	<key>アニマル</key>
	<string>animal</string>
	<key>アニメ</key>
	<string>comics</string>
	<key>アニメーション</key>
	<string>comics</string>
	<key>アプリ</key>
	<string>app</string>
	<key>アプリケーション</key>
	<string>app</string>
	<key>アメコミ</key>
	<string>comics</string>
	<key>アート</key>
	<string>art</string>
	<key>イタリア</key>
	<string>italy</string>
	<key>イメージ</key>
	<string>photography</string>
	<key>イラスト</key>
	<string>art</string>
	<key>イラストレーション</key>
	<string>art</string>
	<key>インスピレーション</key>
	<string>idea</string>
	<key>ウィッシュリスト</key>
	<string>present</string>
	<key>ウェブページ</key>
	<string>article</string>
	<key>ウォッチ</key>
	<string>watch</string>
	<key>ウォレット</key>
	<string>money</string>
	<key>エクササイズ</key>
	<string>exercise</string>
	<key>エコノミー</key>
	<string>economy</string>
	<key>エッセイ</key>
	<string>book</string>
	<key>オレ</key>
	<string>me</string>
	<key>カレッジ</key>
	<string>school</string>
	<key>カー</key>
	<string>car</string>
	<key>キッチン</key>
	<string>cooking</string>
	<key>キャッシュ</key>
	<string>money</string>
	<key>キャット</key>
	<string>cat</string>
	<key>ギフト</key>
	<string>present</string>
	<key>クソ</key>
	<string>poop</string>
	<key>クッキング</key>
	<string>cooking</string>
	<key>クラス</key>
	<string>school</string>
	<key>クリケット</key>
	<string>sport</string>
	<key>グラフィックノベル</key>
	<string>comics</string>
	<key>グルメ</key>
	<string>cooking</string>
	<key>ゲーマー</key>
	<string>game</string>
	<key>ゲーミング</key>
	<string>game</string>
	<key>ゲーム</key>
	<string>game</string>
	<key>コミック</key>
	<string>comics</string>
	<key>コミック本</key>
	<string>comics</string>
	<key>コード</key>
	<string>development</string>
	<key>コーヒー</key>
	<string>coffee</string>
	<key>サイエンス</key>
	<string>science</string>
	<key>サイフ</key>
	<string>purse</string>
	<key>サッカー</key>
	<string>sport</string>
	<key>シアター</key>
	<string>cinema</string>
	<key>シネマ</key>
	<string>cinema</string>
	<key>シューズ</key>
	<string>shoes</string>
	<key>ショッピング</key>
	<string>shop</string>
	<key>ショップ</key>
	<string>shop</string>
	<key>ジョギング</key>
	<string>exercise</string>
	<key>スケッチ</key>
	<string>art</string>
	<key>スケボー</key>
	<string>skate</string>
	<key>スケート</key>
	<string>skate</string>
	<key>スケートボーディング</key>
	<string>skate</string>
	<key>スケートボード</key>
	<string>skate</string>
	<key>スター</key>
	<string>star</string>
	<key>スターウォーズ</key>
	<string>star wars</string>
	<key>スター・ウォーズ</key>
	<string>star wars</string>
	<key>スター付き</key>
	<string>star</string>
	<key>スニーカー</key>
	<string>shoes</string>
	<key>スポット</key>
	<string>places</string>
	<key>スポーツ</key>
	<string>sport</string>
	<key>セックス</key>
	<string>porn</string>
	<key>ソフト</key>
	<string>app</string>
	<key>ソフトウェア</key>
	<string>app</string>
	<key>ソング</key>
	<string>music</string>
	<key>タイポグラフィ</key>
	<string>typography</string>
	<key>タイポグラフィー</key>
	<string>typography</string>
	<key>タスク</key>
	<string>work</string>
	<key>タスクリスト</key>
	<string>todo</string>
	<key>ダイエット</key>
	<string>health</string>
	<key>ティー</key>
	<string>tea</string>
	<key>テキストブック</key>
	<string>book</string>
	<key>テクノロジー</key>
	<string>tech</string>
	<key>テニス</key>
	<string>sport</string>
	<key>テレビ</key>
	<string>tv</string>
	<key>テレビシリーズ</key>
	<string>tv</string>
	<key>テレビジョン</key>
	<string>tv</string>
	<key>テレビ番組</key>
	<string>tv</string>
	<key>ディナー</key>
	<string>cooking</string>
	<key>デザイナー</key>
	<string>design</string>
	<key>デザイン</key>
	<string>design</string>
	<key>デベロッパー</key>
	<string>development</string>
	<key>トラック</key>
	<string>music</string>
	<key>トラベル</key>
	<string>travel</string>
	<key>トレイラー</key>
	<string>cinema</string>
	<key>ドクター・フー</key>
	<string>doctor who</string>
	<key>ドック</key>
	<string>dog</string>
	<key>ネイチャー</key>
	<string>nature</string>
	<key>ネコ</key>
	<string>cat</string>
	<key>ネズミ</key>
	<string>rodents</string>
	<key>ノベル</key>
	<string>book</string>
	<key>ハウス</key>
	<string>home</string>
	<key>ハズバンド</key>
	<string>husband</string>
	<key>ハンドバッグ</key>
	<string>purse</string>
	<key>バグ</key>
	<string>bug</string>
	<key>バグレポート</key>
	<string>bug</string>
	<key>バグ報告</key>
	<string>bug</string>
	<key>バケーション</key>
	<string>holiday</string>
	<key>バスケ</key>
	<string>sport</string>
	<key>バスケットボール</key>
	<string>sport</string>
	<key>バレンタイン</key>
	<string>love</string>
	<key>バレンタインデー</key>
	<string>love</string>
	<key>バレー</key>
	<string>sport</string>
	<key>バレーボール</key>
	<string>sport</string>
	<key>パピー</key>
	<string>dog</string>
	<key>ビジネス</key>
	<string>work</string>
	<key>ビデオゲーム</key>
	<string>game</string>
	<key>ビューティー</key>
	<string>beauty</string>
	<key>ビーチバレー</key>
	<string>sport</string>
	<key>ビーチバレーボール</key>
	<string>sport</string>
	<key>ピクチャー</key>
	<string>photography</string>
	<key>ピース</key>
	<string>peace</string>
	<key>ファイナンス</key>
	<string>economy</string>
	<key>ファッション</key>
	<string>fashion</string>
	<key>ファミリー</key>
	<string>family</string>
	<key>フィットネス</key>
	<string>exercise</string>
	<key>フィナンシャル</key>
	<string>economy</string>
	<key>フィルム</key>
	<string>cinema</string>
	<key>フォト</key>
	<string>photography</string>
	<key>フォトグラフ</key>
	<string>photography</string>
	<key>フォトグラフィー</key>
	<string>photography</string>
	<key>フットボール</key>
	<string>sport</string>
	<key>ブック</key>
	<string>book</string>
	<key>ブックマーク</key>
	<string>article</string>
	<key>ブリコラージュ</key>
	<string>diy</string>
	<key>ブログ</key>
	<string>article</string>
	<key>ブログ投稿</key>
	<string>article</string>
	<key>ブーツ</key>
	<string>shoes</string>
	<key>プライバシー</key>
	<string>privacy</string>
	<key>プレゼント</key>
	<string>present</string>
	<key>プロジェクト</key>
	<string>development</string>
	<key>ヘルシー</key>
	<string>health</string>
	<key>ヘルス</key>
	<string>health</string>
	<key>ベースボール</key>
	<string>sport</string>
	<key>ホッケー</key>
	<string>sport</string>
	<key>ホリデイ</key>
	<string>holiday</string>
	<key>ホリデー</key>
	<string>holiday</string>
	<key>ホーム</key>
	<string>home</string>
	<key>ホームページ</key>
	<string>article</string>
	<key>ポエム</key>
	<string>poetry</string>
	<key>ポケモン</key>
	<string>pokemon</string>
	<key>ポッドキャスト</key>
	<string>podcast</string>
	<key>ポルノ</key>
	<string>porn</string>
	<key>ポルノグラフィー</key>
	<string>porn</string>
	<key>マラソン</key>
	<string>exercise</string>
	<key>マンガ</key>
	<string>comics</string>
	<key>ミュージック</key>
	<string>music</string>
	<key>ムービー</key>
	<string>cinema</string>
	<key>ムーン</key>
	<string>moon</string>
	<key>メール</key>
	<string>mail</string>
	<key>ユニバーシティ</key>
	<string>school</string>
	<key>ユーモア</key>
	<string>fun</string>
	<key>ヨガ</key>
	<string>yoga</string>
	<key>ラブ</key>
	<string>love</string>
	<key>ランチ</key>
	<string>cooking</string>
	<key>ランニング</key>
	<string>exercise</string>
	<key>リンク</key>
	<string>article</string>
	<key>レシピ</key>
	<string>cooking</string>
	<key>レストラン</key>
	<string>cooking</string>
	<key>ロードショー</key>
	<string>cinema</string>
	<key>ワイフ</key>
	<string>wife</string>
	<key>ワーキング</key>
	<string>work</string>
	<key>ワーク</key>
	<string>work</string>
	<key>ワークアウト</key>
	<string>exercise</string>
	<key>世界</key>
	<string>nature</string>
	<key>亭主</key>
	<string>husband</string>
	<key>人気エリア</key>
	<string>places</string>
	<key>人気スポット</key>
	<string>places</string>
	<key>仕事</key>
	<string>work</string>
	<key>伊太利亜</key>
	<string>italy</string>
	<key>休み</key>
	<string>holiday</string>
	<key>休暇</key>
	<string>holiday</string>
	<key>俺</key>
	<string>me</string>
	<key>健康</key>
	<string>health</string>
	<key>写真</key>
	<string>photography</string>
	<key>出版</key>
	<string>book</string>
	<key>出版物</key>
	<string>book</string>
	<key>劇場</key>
	<string>cinema</string>
	<key>動物</key>
	<string>animal</string>
	<key>名言</key>
	<string>quotes</string>
	<key>場所</key>
	<string>places</string>
	<key>大学</key>
	<string>school</string>
	<key>太陽</key>
	<string>sun</string>
	<key>夫</key>
	<string>husband</string>
	<key>奥さん</key>
	<string>wife</string>
	<key>奥様</key>
	<string>wife</string>
	<key>妻</key>
	<string>wife</string>
	<key>娘</key>
	<string>daughter</string>
	<key>子犬</key>
	<string>dog</string>
	<key>子猫</key>
	<string>cat</string>
	<key>学校</key>
	<string>school</string>
	<key>学科</key>
	<string>school</string>
	<key>家</key>
	<string>home</string>
	<key>家内</key>
	<string>wife</string>
	<key>家族</key>
	<string>family</string>
	<key>小売</key>
	<string>shop</string>
	<key>小説</key>
	<string>book</string>
	<key>平和</key>
	<string>peace</string>
	<key>店</key>
	<string>shop</string>
	<key>店舗</key>
	<string>shop</string>
	<key>庭球</key>
	<string>sport</string>
	<key>引用</key>
	<string>quotes</string>
	<key>性</key>
	<string>porn</string>
	<key>息子</key>
	<string>son</string>
	<key>愛</key>
	<string>love</string>
	<key>技術</key>
	<string>tech</string>
	<key>投稿</key>
	<string>article</string>
	<key>教科書</key>
	<string>book</string>
	<key>教育</key>
	<string>school</string>
	<key>料理</key>
	<string>cooking</string>
	<key>旅</key>
	<string>travel</string>
	<key>旅行</key>
	<string>travel</string>
	<key>日曜大工</key>
	<string>diy</string>
	<key>旦那</key>
	<string>husband</string>
	<key>星</key>
	<string>star</string>
	<key>星付き</key>
	<string>star</string>
	<key>映画</key>
	<string>cinema</string>
	<key>映画館</key>
	<string>cinema</string>
	<key>書籍</key>
	<string>book</string>
	<key>月</key>
	<string>moon</string>
	<key>服</key>
	<string>fashion</string>
	<key>朝食</key>
	<string>cooking</string>
	<key>本</key>
	<string>book</string>
	<key>栄養</key>
	<string>health</string>
	<key>栞</key>
	<string>article</string>
	<key>株</key>
	<string>economy</string>
	<key>案件</key>
	<string>development</string>
	<key>楽しい</key>
	<string>fun</string>
	<key>楽曲</key>
	<string>music</string>
	<key>歌</key>
	<string>music</string>
	<key>歌詞</key>
	<string>music</string>
	<key>油絵</key>
	<string>art</string>
	<key>洋服</key>
	<string>fashion</string>
	<key>漫画</key>
	<string>comics</string>
	<key>漫画本</key>
	<string>comics</string>
	<key>犬</key>
	<string>dog</string>
	<key>猫</key>
	<string>cat</string>
	<key>珈琲</key>
	<string>coffee</string>
	<key>現金</key>
	<string>money</string>
	<key>環境</key>
	<string>nature</string>
	<key>画像</key>
	<string>photography</string>
	<key>発想</key>
	<string>idea</string>
	<key>私</key>
	<string>me</string>
	<key>科学</key>
	<string>science</string>
	<key>籠球</key>
	<string>sport</string>
	<key>糞</key>
	<string>poop</string>
	<key>紅茶</key>
	<string>tea</string>
	<key>経済</key>
	<string>economy</string>
	<key>絵画</key>
	<string>art</string>
	<key>美</key>
	<string>beauty</string>
	<key>美しさ</key>
	<string>beauty</string>
	<key>美術</key>
	<string>art</string>
	<key>自作</key>
	<string>diy</string>
	<key>自分</key>
	<string>me</string>
	<key>自動車</key>
	<string>car</string>
	<key>自然</key>
	<string>nature</string>
	<key>花婿</key>
	<string>husband</string>
	<key>花嫁</key>
	<string>wife</string>
	<key>芸術</key>
	<string>art</string>
	<key>衣服</key>
	<string>fashion</string>
	<key>観光地</key>
	<string>places</string>
	<key>記事</key>
	<string>article</string>
	<key>訪問</key>
	<string>places</string>
	<key>詩</key>
	<string>poetry</string>
	<key>読書</key>
	<string>book</string>
	<key>調理</key>
	<string>cooking</string>
	<key>財布</key>
	<string>purse</string>
	<key>貯金</key>
	<string>money</string>
	<key>贈り物</key>
	<string>present</string>
	<key>贈答品</key>
	<string>present</string>
	<key>蹴球</key>
	<string>sport</string>
	<key>車</key>
	<string>car</string>
	<key>運動</key>
	<string>exercise</string>
	<key>配偶者</key>
	<string>wife</string>
	<key>野球</key>
	<string>sport</string>
	<key>金融</key>
	<string>economy</string>
	<key>銀行</key>
	<string>economy</string>
	<key>開発</key>
	<string>development</string>
	<key>開発者</key>
	<string>development</string>
	<key>電子メール</key>
	<string>mail</string>
	<key>面白い</key>
	<string>fun</string>
	<key>靴</key>
	<string>shoes</string>
	<key>音楽</key>
	<string>music</string>
	<key>食べ物</key>
	<string>cooking</string>
	<key>食堂</key>
	<string>cooking</string>
	<key>食通</key>
	<string>cooking</string>
	<key>齧歯類</key>
	<string>rodents</string>
</dict>
</plist>
