<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>academia</key>
	<string>science</string>
	<key>acadêmico</key>
	<string>school</string>
	<key>afazeres</key>
	<string>todo</string>
	<key>alimentos</key>
	<string>cooking</string>
	<key>almoço</key>
	<string>cooking</string>
	<key>amar</key>
	<string>love</string>
	<key>ambiente</key>
	<string>nature</string>
	<key>amor</key>
	<string>love</string>
	<key>animais</key>
	<string>animal</string>
	<key>animal</key>
	<string>animal</string>
	<key>apaixonada</key>
	<string>love</string>
	<key>apaixonadas</key>
	<string>love</string>
	<key>apaixonado</key>
	<string>love</string>
	<key>apaixonados</key>
	<string>love</string>
	<key>apaziguar</key>
	<string>peace</string>
	<key>aplicativo</key>
	<string>app</string>
	<key>aplicativos</key>
	<string>app</string>
	<key>app</key>
	<string>app</string>
	<key>apps</key>
	<string>app</string>
	<key>arte</key>
	<string>art</string>
	<key>artigo</key>
	<string>article</string>
	<key>artigo científico</key>
	<string>science</string>
	<key>artigo no blog</key>
	<string>article</string>
	<key>artigos</key>
	<string>article</string>
	<key>artista</key>
	<string>art</string>
	<key>artistas</key>
	<string>art</string>
	<key>artístico</key>
	<string>art</string>
	<key>asana</key>
	<string>yoga</string>
	<key>astro</key>
	<string>star</string>
	<key>astros</key>
	<string>star</string>
	<key>ator de tv</key>
	<string>tv</string>
	<key>atriz de tv</key>
	<string>tv</string>
	<key>aula</key>
	<string>school</string>
	<key>aulas</key>
	<string>school</string>
	<key>automobilismo</key>
	<string>car</string>
	<key>automóveis</key>
	<string>car</string>
	<key>automóvel</key>
	<string>car</string>
	<key>ações</key>
	<string>economy</string>
	<key>bairro</key>
	<string>places</string>
	<key>banco</key>
	<string>economy</string>
	<key>bancário</key>
	<string>economy</string>
	<key>baseball</key>
	<string>sport</string>
	<key>basketball</key>
	<string>sport</string>
	<key>basquete</key>
	<string>sport</string>
	<key>basquetebol</key>
	<string>sport</string>
	<key>bazar</key>
	<string>shop</string>
	<key>beisebol</key>
	<string>sport</string>
	<key>bela</key>
	<string>beauty</string>
	<key>belas</key>
	<string>beauty</string>
	<key>beleza</key>
	<string>beauty</string>
	<key>belo</key>
	<string>beauty</string>
	<key>belos</key>
	<string>beauty</string>
	<key>bichano</key>
	<string>cat</string>
	<key>bicho</key>
	<string>animal</string>
	<key>bichos</key>
	<string>animal</string>
	<key>bitcoin</key>
	<string>economy</string>
	<key>blog</key>
	<string>article</string>
	<key>blogs</key>
	<string>article</string>
	<key>blogueira</key>
	<string>article</string>
	<key>blogueiro</key>
	<string>article</string>
	<key>boa forma</key>
	<string>exercise</string>
	<key>bola</key>
	<string>sport</string>
	<key>bola ao cesto</key>
	<string>sport</string>
	<key>bola de tênis</key>
	<string>sport</string>
	<key>bolsa</key>
	<string>purse</string>
	<key>bolsa de mão</key>
	<string>purse</string>
	<key>bolsa de valores</key>
	<string>economy</string>
	<key>bolsas</key>
	<string>purse</string>
	<key>bolsas de mão</key>
	<string>purse</string>
	<key>bonita</key>
	<string>beauty</string>
	<key>bonitas</key>
	<string>beauty</string>
	<key>bonito</key>
	<string>beauty</string>
	<key>bonitos</key>
	<string>beauty</string>
	<key>bookmarks</key>
	<string>article</string>
	<key>bosta</key>
	<string>poop</string>
	<key>botas</key>
	<string>shoes</string>
	<key>brechó</key>
	<string>shop</string>
	<key>bug</key>
	<string>bug</string>
	<key>bugs</key>
	<string>bug</string>
	<key>cachoeira</key>
	<string>nature</string>
	<key>cachorrinho</key>
	<string>dog</string>
	<key>cafeína</key>
	<string>coffee</string>
	<key>cafofo</key>
	<string>home</string>
	<key>café</key>
	<string>coffee</string>
	<key>café  com leite</key>
	<string>coffee</string>
	<key>café expresso</key>
	<string>coffee</string>
	<key>café gelado</key>
	<string>coffee</string>
	<key>cafés</key>
	<string>coffee</string>
	<key>calçado</key>
	<string>shoes</string>
	<key>calçados</key>
	<string>shoes</string>
	<key>cantor</key>
	<string>music</string>
	<key>cantora</key>
	<string>music</string>
	<key>cantores</key>
	<string>music</string>
	<key>canção</key>
	<string>music</string>
	<key>canções</key>
	<string>music</string>
	<key>capivara</key>
	<string>rodents</string>
	<key>capuccino</key>
	<string>coffee</string>
	<key>carro</key>
	<string>car</string>
	<key>carros</key>
	<string>car</string>
	<key>carta</key>
	<string>mail</string>
	<key>cartas</key>
	<string>mail</string>
	<key>carteira</key>
	<string>money</string>
	<key>cartão postal</key>
	<string>mail</string>
	<key>cartões postais</key>
	<string>mail</string>
	<key>casa</key>
	<string>home</string>
	<key>chaleira</key>
	<string>tea</string>
	<key>chá</key>
	<string>tea</string>
	<key>cidade</key>
	<string>places</string>
	<key>cientista</key>
	<string>science</string>
	<key>cientistas</key>
	<string>science</string>
	<key>científico</key>
	<string>science</string>
	<key>científicos</key>
	<string>science</string>
	<key>cinema</key>
	<string>cinema</string>
	<key>citar</key>
	<string>quotes</string>
	<key>citação</key>
	<string>quotes</string>
	<key>citações</key>
	<string>quotes</string>
	<key>ciência</key>
	<string>science</string>
	<key>coco</key>
	<string>poop</string>
	<key>coelho</key>
	<string>rodents</string>
	<key>coleira</key>
	<string>dog</string>
	<key>coleiras</key>
	<string>dog</string>
	<key>comida</key>
	<string>cooking</string>
	<key>compras</key>
	<string>shop</string>
	<key>comédia</key>
	<string>fun</string>
	<key>comédias</key>
	<string>fun</string>
	<key>concentração</key>
	<string>yoga</string>
	<key>console de jogo</key>
	<string>game</string>
	<key>conta bancária</key>
	<string>money</string>
	<key>corais</key>
	<string>music</string>
	<key>coral</key>
	<string>music</string>
	<key>correio</key>
	<string>mail</string>
	<key>correios</key>
	<string>mail</string>
	<key>correr</key>
	<string>exercise</string>
	<key>correção de bug</key>
	<string>bug</string>
	<key>correção de bugs</key>
	<string>bug</string>
	<key>corrida</key>
	<string>exercise</string>
	<key>cozinha</key>
	<string>cooking</string>
	<key>cozinhar</key>
	<string>cooking</string>
	<key>cricket</key>
	<string>sport</string>
	<key>crossfit</key>
	<string>exercise</string>
	<key>culinária</key>
	<string>cooking</string>
	<key>câmera fotográfica</key>
	<string>photography</string>
	<key>cães</key>
	<string>dog</string>
	<key>cão</key>
	<string>dog</string>
	<key>cédula</key>
	<string>money</string>
	<key>código</key>
	<string>development</string>
	<key>cônjuge</key>
	<string>wife</string>
	<key>cônjuges</key>
	<string>wife</string>
	<key>depuração de bugs</key>
	<string>bug</string>
	<key>depuração de código</key>
	<string>development</string>
	<key>depuração de erros</key>
	<string>bug</string>
	<key>descanso</key>
	<string>holiday</string>
	<key>desenhos</key>
	<string>art</string>
	<key>desenvolvedor</key>
	<string>development</string>
	<key>desenvolvedores</key>
	<string>development</string>
	<key>desenvolvimento</key>
	<string>development</string>
	<key>design</key>
	<string>design</string>
	<key>design gráfico</key>
	<string>design</string>
	<key>designer</key>
	<string>design</string>
	<key>designer gráfico</key>
	<string>design</string>
	<key>designers</key>
	<string>design</string>
	<key>desportivo</key>
	<string>sport</string>
	<key>desportos</key>
	<string>sport</string>
	<key>dev</key>
	<string>development</string>
	<key>dia dos namorados</key>
	<string>love</string>
	<key>diet</key>
	<string>health</string>
	<key>dieta</key>
	<string>health</string>
	<key>dietas</key>
	<string>health</string>
	<key>dietético</key>
	<string>health</string>
	<key>dinheiro</key>
	<string>money</string>
	<key>dinheiro vivo</key>
	<string>money</string>
	<key>diversão</key>
	<string>fun</string>
	<key>diário online</key>
	<string>article</string>
	<key>diários online</key>
	<string>article</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>domicílio</key>
	<string>home</string>
	<key>ecologia</key>
	<string>nature</string>
	<key>ecológica</key>
	<string>nature</string>
	<key>ecológico</key>
	<string>nature</string>
	<key>ecológicos</key>
	<string>nature</string>
	<key>economia</key>
	<string>economy</string>
	<key>economias</key>
	<string>money</string>
	<key>editor</key>
	<string>book</string>
	<key>editora</key>
	<string>book</string>
	<key>educacional</key>
	<string>school</string>
	<key>educação</key>
	<string>school</string>
	<key>email</key>
	<string>mail</string>
	<key>emails</key>
	<string>mail</string>
	<key>empreendimento</key>
	<string>development</string>
	<key>empreendimentos</key>
	<string>development</string>
	<key>empregada</key>
	<string>work</string>
	<key>empregado</key>
	<string>work</string>
	<key>empregados</key>
	<string>work</string>
	<key>emprego</key>
	<string>work</string>
	<key>empregos</key>
	<string>work</string>
	<key>encomenda</key>
	<string>mail</string>
	<key>energético</key>
	<string>health</string>
	<key>engraçado</key>
	<string>fun</string>
	<key>engraçados</key>
	<string>fun</string>
	<key>ensolarado</key>
	<string>sun</string>
	<key>erro de programa</key>
	<string>bug</string>
	<key>esboço</key>
	<string>development</string>
	<key>esboços</key>
	<string>development</string>
	<key>escola</key>
	<string>school</string>
	<key>esporte</key>
	<string>sport</string>
	<key>esportes</key>
	<string>sport</string>
	<key>esportiva</key>
	<string>sport</string>
	<key>esportivas</key>
	<string>sport</string>
	<key>esportivo</key>
	<string>sport</string>
	<key>esportivos</key>
	<string>sport</string>
	<key>esposa</key>
	<string>wife</string>
	<key>estrada</key>
	<string>car</string>
	<key>estrela</key>
	<string>star</string>
	<key>estrela cadente</key>
	<string>star</string>
	<key>estrela do mar</key>
	<string>star</string>
	<key>estrelado</key>
	<string>star</string>
	<key>estrofes</key>
	<string>poetry</string>
	<key>estética</key>
	<string>beauty</string>
	<key>eu</key>
	<string>me</string>
	<key>eu mesmo</key>
	<string>me</string>
	<key>exercício</key>
	<string>exercise</string>
	<key>exercícios</key>
	<string>exercise</string>
	<key>faculdade</key>
	<string>school</string>
	<key>familiares</key>
	<string>family</string>
	<key>família</key>
	<string>family</string>
	<key>fashion</key>
	<string>fashion</string>
	<key>favoritar</key>
	<string>article</string>
	<key>favoritos</key>
	<string>article</string>
	<key>faça você mesmo</key>
	<string>diy</string>
	<key>feira</key>
	<string>shop</string>
	<key>felino</key>
	<string>cat</string>
	<key>feriado</key>
	<string>holiday</string>
	<key>feriados</key>
	<string>holiday</string>
	<key>feriadão</key>
	<string>holiday</string>
	<key>festas de fim de ano</key>
	<string>holiday</string>
	<key>filha</key>
	<string>daughter</string>
	<key>filhas</key>
	<string>family</string>
	<key>filho</key>
	<string>son</string>
	<key>filhos</key>
	<string>son</string>
	<key>filme</key>
	<string>cinema</string>
	<key>filmes</key>
	<string>cinema</string>
	<key>filtro fotográfico</key>
	<string>photography</string>
	<key>floresta</key>
	<string>nature</string>
	<key>foto</key>
	<string>photography</string>
	<key>fotografia</key>
	<string>photography</string>
	<key>fotos</key>
	<string>photography</string>
	<key>fotógrafa</key>
	<string>photography</string>
	<key>fotógrafo</key>
	<string>photography</string>
	<key>fotógrafos</key>
	<string>photography</string>
	<key>fundos de investimento</key>
	<string>economy</string>
	<key>futebol</key>
	<string>sport</string>
	<key>futebol americano</key>
	<string>sport</string>
	<key>férias</key>
	<string>holiday</string>
	<key>game</key>
	<string>game</string>
	<key>gamer</key>
	<string>game</string>
	<key>games</key>
	<string>game</string>
	<key>gaming</key>
	<string>game</string>
	<key>gastronomia</key>
	<string>cooking</string>
	<key>gastronômico</key>
	<string>cooking</string>
	<key>gatinho</key>
	<string>cat</string>
	<key>gato</key>
	<string>cat</string>
	<key>gatos</key>
	<string>cat</string>
	<key>gibi</key>
	<string>comics</string>
	<key>ginástica</key>
	<string>exercise</string>
	<key>goleiro</key>
	<string>sport</string>
	<key>gráfica</key>
	<string>typography</string>
	<key>gráfico</key>
	<string>typography</string>
	<key>gráficos</key>
	<string>typography</string>
	<key>guerra nas estrelas</key>
	<string>star wars</string>
	<key>história em quadrinho</key>
	<string>comics</string>
	<key>histórias em quadrinho</key>
	<string>comics</string>
	<key>hobby</key>
	<string>diy</string>
	<key>hockey</key>
	<string>sport</string>
	<key>hq</key>
	<string>comics</string>
	<key>humor</key>
	<string>fun</string>
	<key>humorístico</key>
	<string>fun</string>
	<key>idealizador</key>
	<string>idea</string>
	<key>idealizadora</key>
	<string>idea</string>
	<key>idealizadores</key>
	<string>idea</string>
	<key>idealizar</key>
	<string>idea</string>
	<key>ideia</key>
	<string>idea</string>
	<key>ideias</key>
	<string>idea</string>
	<key>ilustração</key>
	<string>art</string>
	<key>ilustrações</key>
	<string>art</string>
	<key>imagem</key>
	<string>photography</string>
	<key>imagens</key>
	<string>photography</string>
	<key>imprensa</key>
	<string>typography</string>
	<key>impresso</key>
	<string>typography</string>
	<key>impressão</key>
	<string>typography</string>
	<key>imprimir</key>
	<string>typography</string>
	<key>inspiração</key>
	<string>idea</string>
	<key>inspirações</key>
	<string>idea</string>
	<key>intuição</key>
	<string>idea</string>
	<key>intuições</key>
	<string>idea</string>
	<key>irmão</key>
	<string>family</string>
	<key>irmãos</key>
	<string>family</string>
	<key>italiana</key>
	<string>italy</string>
	<key>italiano</key>
	<string>italy</string>
	<key>itália</key>
	<string>italy</string>
	<key>jantar</key>
	<string>cooking</string>
	<key>jogador de futebol</key>
	<string>sport</string>
	<key>jogo de futebol</key>
	<string>sport</string>
	<key>jornalista</key>
	<string>article</string>
	<key>jornalistas</key>
	<string>article</string>
	<key>juiz de futebol</key>
	<string>sport</string>
	<key>juros</key>
	<string>economy</string>
	<key>laboratório científico</key>
	<string>science</string>
	<key>lanchonete</key>
	<string>cooking</string>
	<key>lar</key>
	<string>home</string>
	<key>layout</key>
	<string>design</string>
	<key>leitura</key>
	<string>book</string>
	<key>lente fotográfica</key>
	<string>photography</string>
	<key>light</key>
	<string>health</string>
	<key>links</key>
	<string>article</string>
	<key>lista de afazeres</key>
	<string>todo</string>
	<key>lista de desejos</key>
	<string>present</string>
	<key>lista de tarefas</key>
	<string>todo</string>
	<key>listas de afazeres</key>
	<string>todo</string>
	<key>listas de tarefas</key>
	<string>todo</string>
	<key>literatura</key>
	<string>book</string>
	<key>livro</key>
	<string>book</string>
	<key>livro didático</key>
	<string>book</string>
	<key>livros</key>
	<string>book</string>
	<key>livros didáticos</key>
	<string>book</string>
	<key>local</key>
	<string>places</string>
	<key>loja</key>
	<string>shop</string>
	<key>lojas</key>
	<string>shop</string>
	<key>lua</key>
	<string>moon</string>
	<key>luar</key>
	<string>moon</string>
	<key>luau</key>
	<string>moon</string>
	<key>lugar</key>
	<string>places</string>
	<key>lugares</key>
	<string>places</string>
	<key>lunar</key>
	<string>moon</string>
	<key>lótus completo</key>
	<string>yoga</string>
	<key>malhar</key>
	<string>exercise</string>
	<key>malhação</key>
	<string>exercise</string>
	<key>mangá</key>
	<string>comics</string>
	<key>mangás</key>
	<string>comics</string>
	<key>mantra</key>
	<string>yoga</string>
	<key>maratona</key>
	<string>exercise</string>
	<key>marca-página</key>
	<string>article</string>
	<key>marcador de livro</key>
	<string>article</string>
	<key>marcadores de página</key>
	<string>article</string>
	<key>escrevendo</key>
	<string>poetry</string>
	<key>marido</key>
	<string>husband</string>
	<key>matéria</key>
	<string>article</string>
	<key>meditação</key>
	<string>yoga</string>
	<key>meio ambiente</key>
	<string>nature</string>
	<key>meio lótus</key>
	<string>yoga</string>
	<key>merda</key>
	<string>poop</string>
	<key>miau</key>
	<string>cat</string>
	<key>mim</key>
	<string>me</string>
	<key>mochila</key>
	<string>purse</string>
	<key>moda</key>
	<string>fashion</string>
	<key>modas</key>
	<string>fashion</string>
	<key>moeda</key>
	<string>money</string>
	<key>motorista</key>
	<string>car</string>
	<key>multa de trânsito</key>
	<string>car</string>
	<key>mãe</key>
	<string>family</string>
	<key>música</key>
	<string>music</string>
	<key>músicas</key>
	<string>music</string>
	<key>namorada</key>
	<string>love</string>
	<key>namorado</key>
	<string>love</string>
	<key>natural</key>
	<string>nature</string>
	<key>natureza</key>
	<string>nature</string>
	<key>negócios</key>
	<string>work</string>
	<key>noiva</key>
	<string>wife</string>
	<key>noivado</key>
	<string>love</string>
	<key>novela</key>
	<string>tv</string>
	<key>novelas</key>
	<string>tv</string>
	<key>nutritivo</key>
	<string>health</string>
	<key>nutrição</key>
	<string>health</string>
	<key>pacificado</key>
	<string>peace</string>
	<key>pacífico</key>
	<string>peace</string>
	<key>pai</key>
	<string>family</string>
	<key>paisagem</key>
	<string>places</string>
	<key>parceiro</key>
	<string>husband</string>
	<key>parque</key>
	<string>places</string>
	<key>particular</key>
	<string>privacy</string>
	<key>particulares</key>
	<string>privacy</string>
	<key>partida de futebol</key>
	<string>sport</string>
	<key>patroa</key>
	<string>work</string>
	<key>patrão</key>
	<string>work</string>
	<key>patrões</key>
	<string>work</string>
	<key>paz</key>
	<string>peace</string>
	<key>pet</key>
	<string>dog</string>
	<key>pet shop</key>
	<string>dog</string>
	<key>pets</key>
	<string>dog</string>
	<key>pintura</key>
	<string>art</string>
	<key>pinturas</key>
	<string>art</string>
	<key>planejamento</key>
	<string>development</string>
	<key>planejamentos</key>
	<string>development</string>
	<key>plano</key>
	<string>development</string>
	<key>planos</key>
	<string>development</string>
	<key>podcast</key>
	<string>podcast</string>
	<key>podcasts</key>
	<string>podcast</string>
	<key>poema</key>
	<string>poetry</string>
	<key>poemas</key>
	<string>poetry</string>
	<key>poesia</key>
	<string>poetry</string>
	<key>poeta</key>
	<string>poetry</string>
	<key>poetas</key>
	<string>poetry</string>
	<key>poetiza</key>
	<string>poetry</string>
	<key>poetizas</key>
	<string>poetry</string>
	<key>pokemon</key>
	<string>pokemon</string>
	<key>pornografia</key>
	<string>porn</string>
	<key>pornográfica</key>
	<string>porn</string>
	<key>pornográfico</key>
	<string>porn</string>
	<key>pornográficos</key>
	<string>porn</string>
	<key>pornô</key>
	<string>porn</string>
	<key>porta-níqueis</key>
	<string>money</string>
	<key>post de blog</key>
	<string>article</string>
	<key>posts blog</key>
	<string>article</string>
	<key>posts</key>
	<string>article</string>
	<key>posts de blogs</key>
	<string>article</string>
	<key>postura</key>
	<string>yoga</string>
	<key>poupança</key>
	<string>economy</string>
	<key>poético</key>
	<string>poetry</string>
	<key>praça</key>
	<string>places</string>
	<key>presente</key>
	<string>present</string>
	<key>presenteado</key>
	<string>present</string>
	<key>presentes</key>
	<string>present</string>
	<key>privacidade</key>
	<string>privacy</string>
	<key>privadas</key>
	<string>privacy</string>
	<key>privado</key>
	<string>privacy</string>
	<key>privados</key>
	<string>privacy</string>
	<key>programa de computador</key>
	<string>app</string>
	<key>programa de tv</key>
	<string>tv</string>
	<key>programador de computadores</key>
	<string>development</string>
	<key>programadores</key>
	<string>development</string>
	<key>programas de tv</key>
	<string>tv</string>
	<key>projeto</key>
	<string>development</string>
	<key>projetos</key>
	<string>development</string>
	<key>pseudo-ciência</key>
	<string>science</string>
	<key>publicação</key>
	<string>book</string>
	<key>publicações</key>
	<string>book</string>
	<key>publicações de blogs</key>
	<string>article</string>
	<key>páginas web</key>
	<string>article</string>
	<key>pênalti</key>
	<string>sport</string>
	<key>quadra de tênis</key>
	<string>sport</string>
	<key>quadrinhos</key>
	<string>comics</string>
	<key>quadro</key>
	<string>art</string>
	<key>quadros</key>
	<string>art</string>
	<key>raquete de tênis</key>
	<string>sport</string>
	<key>ratazana</key>
	<string>rodents</string>
	<key>rato</key>
	<string>rodents</string>
	<key>ração canina</key>
	<string>dog</string>
	<key>receita</key>
	<string>cooking</string>
	<key>receitas</key>
	<string>cooking</string>
	<key>redação</key>
	<string>article</string>
	<key>rede de vôlei</key>
	<string>sport</string>
	<key>relatório de bugs</key>
	<string>bug</string>
	<key>relatórios de bugs</key>
	<string>bug</string>
	<key>relação sexual</key>
	<string>porn</string>
	<key>relógio de pulso</key>
	<string>watch</string>
	<key>relógio inteligente</key>
	<string>watch</string>
	<key>residência</key>
	<string>home</string>
	<key>restaurante</key>
	<string>cooking</string>
	<key>revistinha</key>
	<string>comics</string>
	<key>roedor</key>
	<string>rodents</string>
	<key>roedores</key>
	<string>rodents</string>
	<key>romance</key>
	<string>book</string>
	<key>romances</key>
	<string>book</string>
	<key>roupa</key>
	<string>fashion</string>
	<key>roupas</key>
	<string>fashion</string>
	<key>sala de aula</key>
	<string>school</string>
	<key>sandália</key>
	<string>shoes</string>
	<key>sandálias</key>
	<string>shoes</string>
	<key>sapatilha</key>
	<string>shoes</string>
	<key>sapatilhas</key>
	<string>shoes</string>
	<key>sapato</key>
	<string>shoes</string>
	<key>sapatos</key>
	<string>shoes</string>
	<key>saque de vôlei</key>
	<string>sport</string>
	<key>saudáveis</key>
	<string>health</string>
	<key>saudável</key>
	<string>health</string>
	<key>saúde</key>
	<string>health</string>
	<key>selo postal</key>
	<string>mail</string>
	<key>sexo</key>
	<string>porn</string>
	<key>sexual</key>
	<string>porn</string>
	<key>shopping</key>
	<string>shop</string>
	<key>skate</key>
	<string>skate</string>
	<key>skateboard</key>
	<string>skate</string>
	<key>skateboarding</key>
	<string>skate</string>
	<key>skateboards</key>
	<string>skate</string>
	<key>smartwatch</key>
	<string>watch</string>
	<key>sobrinho</key>
	<string>family</string>
	<key>software</key>
	<string>app</string>
	<key>sol</key>
	<string>sun</string>
	<key>sozinho</key>
	<string>me</string>
	<key>star wars</key>
	<string>star wars</string>
	<key>starwars</key>
	<string>star wars</string>
	<key>série de tv</key>
	<string>tv</string>
	<key>tarefa</key>
	<string>todo</string>
	<key>tarefas</key>
	<string>todo</string>
	<key>teatro</key>
	<string>cinema</string>
	<key>teatros</key>
	<string>cinema</string>
	<key>tecnologia</key>
	<string>tech</string>
	<key>tecnologias</key>
	<string>tech</string>
	<key>televisão</key>
	<string>tv</string>
	<key>texto</key>
	<string>article</string>
	<key>textos</key>
	<string>article</string>
	<key>the doctor</key>
	<string>doctor who</string>
	<key>tia</key>
	<string>family</string>
	<key>tio</key>
	<string>family</string>
	<key>tipografia</key>
	<string>typography</string>
	<key>tipográfico</key>
	<string>typography</string>
	<key>titica</key>
	<string>poop</string>
	<key>trabalhando</key>
	<string>work</string>
	<key>trabalho</key>
	<string>work</string>
	<key>trabalho manual</key>
	<string>diy</string>
	<key>trabalhos manuais</key>
	<string>diy</string>
	<key>traje</key>
	<string>fashion</string>
	<key>trajes</key>
	<string>fashion</string>
	<key>transa</key>
	<string>porn</string>
	<key>trânsito</key>
	<string>car</string>
	<key>tv</key>
	<string>tv</string>
	<key>técnica</key>
	<string>tech</string>
	<key>técnico</key>
	<string>tech</string>
	<key>tênis</key>
	<string>sport</string>
	<key>universidade</key>
	<string>school</string>
	<key>universidades</key>
	<string>school</string>
	<key>varejo</key>
	<string>shop</string>
	<key>versos</key>
	<string>poetry</string>
	<key>viagem</key>
	<string>travel</string>
	<key>viagens</key>
	<string>travel</string>
	<key>viajante</key>
	<string>travel</string>
	<key>viajantes</key>
	<string>travel</string>
	<key>viajar</key>
	<string>travel</string>
	<key>video game</key>
	<string>game</string>
	<key>video games</key>
	<string>game</string>
	<key>videogame</key>
	<string>game</string>
	<key>videogames</key>
	<string>game</string>
	<key>visita</key>
	<string>places</string>
	<key>visitar</key>
	<string>places</string>
	<key>voleibol</key>
	<string>sport</string>
	<key>vôlei</key>
	<string>sport</string>
	<key>vôlei de praia</key>
	<string>sport</string>
	<key>yoga</key>
	<string>yoga</string>
	<key>ássana</key>
	<string>yoga</string>
	<key>ítalo</key>
	<string>italy</string>
</dict>
</plist>
