<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beach volley</key>
	<string>sport</string>
	<key>email</key>
	<string>mail</string>
	<key>volley</key>
	<string>sport</string>
	<key>Валентин</key>
	<string>love</string>
	<key>День Св.Валентина</key>
	<string>love</string>
	<key>Доктор Кто</key>
	<string>doctor who</string>
	<key>Звездные войны</key>
	<string>star wars</string>
	<key>ТВ</key>
	<string>tv</string>
	<key>авто</key>
	<string>car</string>
	<key>автомобили</key>
	<string>car</string>
	<key>автомобиль</key>
	<string>car</string>
	<key>академия</key>
	<string>school</string>
	<key>акции</key>
	<string>economy</string>
	<key>американский футбол</key>
	<string>sport</string>
	<key>аниме</key>
	<string>comics</string>
	<key>асана</key>
	<string>yoga</string>
	<key>асаны</key>
	<string>yoga</string>
	<key>банк</key>
	<string>economy</string>
	<key>баскетбол</key>
	<string>sport</string>
	<key>баскетболист</key>
	<string>sport</string>
	<key>баскетболисты</key>
	<string>sport</string>
	<key>бег</key>
	<string>exercise</string>
	<key>бейсбол</key>
	<string>sport</string>
	<key>бейсболист</key>
	<string>sport</string>
	<key>бейсболисты</key>
	<string>sport</string>
	<key>бизнес</key>
	<string>work</string>
	<key>блог</key>
	<string>article</string>
	<key>блоги</key>
	<string>article</string>
	<key>блогпост</key>
	<string>article</string>
	<key>блогпосты</key>
	<string>article</string>
	<key>писать</key>
	<string>poetry</string>
	<key>босоножки</key>
	<string>shoes</string>
	<key>ботинки</key>
	<string>shoes</string>
	<key>будильник</key>
	<string>watch</string>
	<key>бум</key>
	<string>economy</string>
	<key>вдохновение</key>
	<string>idea</string>
	<key>веб-страница</key>
	<string>article</string>
	<key>веб-страницы</key>
	<string>article</string>
	<key>веселье</key>
	<string>fun</string>
	<key>видеоигра</key>
	<string>game</string>
	<key>видеоигры</key>
	<string>game</string>
	<key>визит</key>
	<string>places</string>
	<key>воркаут</key>
	<string>exercise</string>
	<key>время</key>
	<string>watch</string>
	<key>выжигание</key>
	<string>diy</string>
	<key>выходные дни</key>
	<string>holiday</string>
	<key>вышивка</key>
	<string>diy</string>
	<key>вязание</key>
	<string>diy</string>
	<key>готовка</key>
	<string>cooking</string>
	<key>графика</key>
	<string>art</string>
	<key>грызун</key>
	<string>rodents</string>
	<key>грызуны</key>
	<string>rodents</string>
	<key>деньги</key>
	<string>money</string>
	<key>депиляция</key>
	<string>beauty</string>
	<key>депрессия</key>
	<string>economy</string>
	<key>джедаи</key>
	<string>star wars</string>
	<key>джедай</key>
	<string>star wars</string>
	<key>диагностика</key>
	<string>bug</string>
	<key>диета</key>
	<string>health</string>
	<key>дизайн</key>
	<string>design</string>
	<key>дизайнер</key>
	<string>design</string>
	<key>дизайнеры</key>
	<string>design</string>
	<key>дом</key>
	<string>home</string>
	<key>дома</key>
	<string>home</string>
	<key>доченька</key>
	<string>daughter</string>
	<key>дочери</key>
	<string>daughter</string>
	<key>дочки</key>
	<string>daughter</string>
	<key>дочь</key>
	<string>daughter</string>
	<key>дружба</key>
	<string>peace</string>
	<key>жена</key>
	<string>wife</string>
	<key>животное</key>
	<string>animal</string>
	<key>животные</key>
	<string>animal</string>
	<key>жилище</key>
	<string>home</string>
	<key>журналистика</key>
	<string>article</string>
	<key>забавный</key>
	<string>fun</string>
	<key>заварка</key>
	<string>tea</string>
	<key>зависание</key>
	<string>bug</string>
	<key>завтрак</key>
	<string>cooking</string>
	<key>загрязнение</key>
	<string>nature</string>
	<key>задание</key>
	<string>work</string>
	<key>задания</key>
	<string>work</string>
	<key>задача</key>
	<string>todo</string>
	<key>задачи</key>
	<string>todo</string>
	<key>дело</key>
	<string>todo</string>
	<key>закладка</key>
	<string>article</string>
	<key>закладки</key>
	<string>article</string>
	<key>закрытость</key>
	<string>privacy</string>
	<key>заметка</key>
	<string>article</string>
	<key>занятие</key>
	<string>school</string>
	<key>занятия</key>
	<string>school</string>
	<key>затмение</key>
	<string>moon</string>
	<key>звезда</key>
	<string>star</string>
	<key>звезды</key>
	<string>star</string>
	<key>звери</key>
	<string>animal</string>
	<key>зверь</key>
	<string>animal</string>
	<key>зверюшки</key>
	<string>animal</string>
	<key>здоровый</key>
	<string>health</string>
	<key>здоровье</key>
	<string>health</string>
	<key>зерновой</key>
	<string>coffee</string>
	<key>игра</key>
	<string>pokemon</string>
	<key>игрок</key>
	<string>game</string>
	<key>игры</key>
	<string>game</string>
	<key>идеи</key>
	<string>idea</string>
	<key>идея</key>
	<string>idea</string>
	<key>изображение</key>
	<string>photography</string>
	<key>изображения</key>
	<string>photography</string>
	<key>иллюстрация</key>
	<string>art</string>
	<key>империя</key>
	<string>star wars</string>
	<key>инженер</key>
	<string>tech</string>
	<key>инсталляция</key>
	<string>art</string>
	<key>искусство</key>
	<string>art</string>
	<key>италия</key>
	<string>italy</string>
	<key>йога</key>
	<string>yoga</string>
	<key>каникулы</key>
	<string>holiday</string>
	<key>картина</key>
	<string>art</string>
	<key>картинка</key>
	<string>photography</string>
	<key>катание</key>
	<string>skate</string>
	<key>кафе</key>
	<string>cooking</string>
	<key>еда</key>
	<string>cooking</string>
	<key>кеды</key>
	<string>shoes</string>
	<key>керамика</key>
	<string>diy</string>
	<key>кино</key>
	<string>cinema</string>
	<key>киножурнал</key>
	<string>cinema</string>
	<key>кинокартина</key>
	<string>cinema</string>
	<key>кинокартины</key>
	<string>cinema</string>
	<key>кинотеатр</key>
	<string>cinema</string>
	<key>книга</key>
	<string>book</string>
	<key>книга комиксов</key>
	<string>comics</string>
	<key>книги</key>
	<string>book</string>
	<key>книги комиксов</key>
	<string>comics</string>
	<key>кобель</key>
	<string>dog</string>
	<key>код</key>
	<string>development</string>
	<key>колледж</key>
	<string>school</string>
	<key>комиксы</key>
	<string>comics</string>
	<key>комический</key>
	<string>fun</string>
	<key>комплект одежды</key>
	<string>fashion</string>
	<key>конфиденциально</key>
	<string>privacy</string>
	<key>косметология</key>
	<string>beauty</string>
	<key>кот</key>
	<string>cat</string>
	<key>котенок</key>
	<string>cat</string>
	<key>коты</key>
	<string>cat</string>
	<key>котята</key>
	<string>cat</string>
	<key>кофе</key>
	<string>coffee</string>
	<key>кофемашина</key>
	<string>coffee</string>
	<key>кофемашины</key>
	<string>coffee</string>
	<key>кошелек</key>
	<string>money</string>
	<key>кошка</key>
	<string>cat</string>
	<key>кошки</key>
	<string>cat</string>
	<key>красота</key>
	<string>beauty</string>
	<key>кратер</key>
	<string>moon</string>
	<key>крах</key>
	<string>economy</string>
	<key>крикет</key>
	<string>sport</string>
	<key>кросс</key>
	<string>exercise</string>
	<key>кроссовки</key>
	<string>shoes</string>
	<key>круиз</key>
	<string>travel</string>
	<key>поездка</key>
	<string>travel</string>
	<key>крыса</key>
	<string>rodents</string>
	<key>крысы</key>
	<string>rodents</string>
	<key>кулинария</key>
	<string>cooking</string>
	<key>ланч</key>
	<string>cooking</string>
	<key>лигатура</key>
	<string>typography</string>
	<key>лигатуры</key>
	<string>typography</string>
	<key>луна</key>
	<string>moon</string>
	<key>любовь</key>
	<string>love</string>
	<key>магазин</key>
	<string>shop</string>
	<key>магазины</key>
	<string>shop</string>
	<key>манга</key>
	<string>comics</string>
	<key>марафон</key>
	<string>exercise</string>
	<key>массаж</key>
	<string>beauty</string>
	<key>матч</key>
	<string>sport</string>
	<key>машина</key>
	<string>car</string>
	<key>машины</key>
	<string>car</string>
	<key>мелодии</key>
	<string>music</string>
	<key>мелодия</key>
	<string>music</string>
	<key>места</key>
	<string>places</string>
	<key>место</key>
	<string>places</string>
	<key>мир</key>
	<string>peace</string>
	<key>млекопитающее</key>
	<string>animal</string>
	<key>млекопитающие</key>
	<string>animal</string>
	<key>мода</key>
	<string>fashion</string>
	<key>модель</key>
	<string>diy</string>
	<key>мозаика</key>
	<string>diy</string>
	<key>муж</key>
	<string>husband</string>
	<key>мужчина</key>
	<string>husband</string>
	<key>музыка</key>
	<string>music</string>
	<key>мультфильм</key>
	<string>comics</string>
	<key>мультфильмы</key>
	<string>comics</string>
	<key>мыши</key>
	<string>rodents</string>
	<key>мышь</key>
	<string>rodents</string>
	<key>набор</key>
	<string>typography</string>
	<key>набросок</key>
	<string>art</string>
	<key>надо видеть</key>
	<string>places</string>
	<key>наличные</key>
	<string>money</string>
	<key>наращивание</key>
	<string>beauty</string>
	<key>наряд</key>
	<string>fashion</string>
	<key>наука</key>
	<string>science</string>
	<key>негатив</key>
	<string>photography</string>
	<key>обед</key>
	<string>cooking</string>
	<key>образование</key>
	<string>school</string>
	<key>образовательный</key>
	<string>school</string>
	<key>обувь</key>
	<string>shoes</string>
	<key>одежда</key>
	<string>fashion</string>
	<key>окружающая среда</key>
	<string>nature</string>
	<key>останов</key>
	<string>bug</string>
	<key>отправить</key>
	<string>mail</string>
	<key>оттиск</key>
	<string>typography</string>
	<key>очерк</key>
	<string>article</string>
	<key>записать</key>
	<string>poetry</string>
	<key>ошибка</key>
	<string>bug</string>
	<key>ошибки</key>
	<string>bug</string>
	<key>педикюр</key>
	<string>beauty</string>
	<key>перевод</key>
	<string>money</string>
	<key>передача</key>
	<string>tv</string>
	<key>передачи</key>
	<string>tv</string>
	<key>пес</key>
	<string>dog</string>
	<key>песик</key>
	<string>dog</string>
	<key>песни</key>
	<string>music</string>
	<key>песня</key>
	<string>music</string>
	<key>печать</key>
	<string>typography</string>
	<key>письма</key>
	<string>mail</string>
	<key>питание</key>
	<string>health</string>
	<key>повести</key>
	<string>book</string>
	<key>повесть</key>
	<string>book</string>
	<key>подарки</key>
	<string>present</string>
	<key>подарок</key>
	<string>present</string>
	<key>поделиться</key>
	<string>photography</string>
	<key>подкаст</key>
	<string>podcast</string>
	<key>подкасты</key>
	<string>podcast</string>
	<key>позитив</key>
	<string>photography</string>
	<key>показ</key>
	<string>fashion</string>
	<key>покакал</key>
	<string>poop</string>
	<key>покакать</key>
	<string>poop</string>
	<key>покемон</key>
	<string>pokemon</string>
	<key>полдник</key>
	<string>cooking</string>
	<key>порно</key>
	<string>porn</string>
	<key>порнография</key>
	<string>porn</string>
	<key>посетить</key>
	<string>places</string>
	<key>пост</key>
	<string>article</string>
	<key>посты</key>
	<string>article</string>
	<key>поход</key>
	<string>travel</string>
	<key>почта</key>
	<string>mail</string>
	<key>поэзия</key>
	<string>poetry</string>
	<key>поэма</key>
	<string>poetry</string>
	<key>поэмы</key>
	<string>poetry</string>
	<key>поэт</key>
	<string>poetry</string>
	<key>правка</key>
	<string>typography</string>
	<key>праздник</key>
	<string>holiday</string>
	<key>праздники</key>
	<string>holiday</string>
	<key>приватно</key>
	<string>privacy</string>
	<key>приватность</key>
	<string>privacy</string>
	<key>приложение</key>
	<string>app</string>
	<key>приложения</key>
	<string>app</string>
	<key>природа</key>
	<string>nature</string>
	<key>проба</key>
	<string>typography</string>
	<key>пробежка</key>
	<string>exercise</string>
	<key>программа</key>
	<string>app</string>
	<key>программе</key>
	<string>app</string>
	<key>программирование</key>
	<string>app</string>
	<key>программы</key>
	<string>app</string>
	<key>прогулка</key>
	<string>exercise</string>
	<key>проект</key>
	<string>tech</string>
	<key>проектант</key>
	<string>development</string>
	<key>проектанты</key>
	<string>development</string>
	<key>проектирование</key>
	<string>development</string>
	<key>проекты</key>
	<string>development</string>
	<key>псы</key>
	<string>dog</string>
	<key>публикации</key>
	<string>book</string>
	<key>публикация</key>
	<string>book</string>
	<key>путешествие</key>
	<string>travel</string>
	<key>путешествия</key>
	<string>travel</string>
	<key>работа</key>
	<string>work</string>
	<key>разработчик</key>
	<string>tech</string>
	<key>разработчики</key>
	<string>development</string>
	<key>рассказ</key>
	<string>book</string>
	<key>растворимый</key>
	<string>coffee</string>
	<key>редактирование</key>
	<string>typography</string>
	<key>ремонт</key>
	<string>diy</string>
	<key>ресторан</key>
	<string>cooking</string>
	<key>рестораны</key>
	<string>cooking</string>
	<key>ретейл</key>
	<string>shop</string>
	<key>рецепт</key>
	<string>cooking</string>
	<key>рецепты</key>
	<string>cooking</string>
	<key>рисование</key>
	<string>art</string>
	<key>ритейл</key>
	<string>shop</string>
	<key>рифма</key>
	<string>poetry</string>
	<key>роман</key>
	<string>book</string>
	<key>салон</key>
	<string>beauty</string>
	<key>сандалии</key>
	<string>shoes</string>
	<key>сатира</key>
	<string>fun</string>
	<key>сбережения</key>
	<string>money</string>
	<key>светило</key>
	<string>sun</string>
	<key>сделай сам</key>
	<string>diy</string>
	<key>сеанс</key>
	<string>cinema</string>
	<key>сеансы</key>
	<string>cinema</string>
	<key>секретность</key>
	<string>privacy</string>
	<key>секс</key>
	<string>porn</string>
	<key>семейный</key>
	<string>family</string>
	<key>семьи</key>
	<string>family</string>
	<key>семья</key>
	<string>family</string>
	<key>сила</key>
	<string>star wars</string>
	<key>скейтборд</key>
	<string>skate</string>
	<key>скейтбордист</key>
	<string>skate</string>
	<key>скульптура</key>
	<string>art</string>
	<key>смешной</key>
	<string>fun</string>
	<key>сникерсы</key>
	<string>shoes</string>
	<key>снимок</key>
	<string>photography</string>
	<key>собака</key>
	<string>dog</string>
	<key>собаки</key>
	<string>dog</string>
	<key>совок</key>
	<string>poop</string>
	<key>солнце</key>
	<string>sun</string>
	<key>сотрудничество</key>
	<string>peace</string>
	<key>список дел</key>
	<string>todo</string>
	<key>список желаний</key>
	<string>present</string>
	<key>список заданий</key>
	<string>todo</string>
	<key>список пожеланий</key>
	<string>present</string>
	<key>спорт</key>
	<string>sport</string>
	<key>спортивный</key>
	<string>sport</string>
	<key>ссылка</key>
	<string>article</string>
	<key>ссылки</key>
	<string>article</string>
	<key>статьи</key>
	<string>article</string>
	<key>статья</key>
	<string>article</string>
	<key>стих</key>
	<string>poetry</string>
	<key>стихи</key>
	<string>poetry</string>
	<key>стрижка</key>
	<string>beauty</string>
	<key>сука</key>
	<string>dog</string>
	<key>сумка</key>
	<string>purse</string>
	<key>сумки</key>
	<string>purse</string>
	<key>сумочка</key>
	<string>purse</string>
	<key>сумочки</key>
	<string>purse</string>
	<key>супермаркет</key>
	<string>shop</string>
	<key>супруга</key>
	<string>wife</string>
	<key>супруги</key>
	<string>wife</string>
	<key>схемы</key>
	<string>diy</string>
	<key>счет</key>
	<string>money</string>
	<key>сын</key>
	<string>son</string>
	<key>сыновья</key>
	<string>son</string>
	<key>тайм</key>
	<string>sport</string>
	<key>тапочки</key>
	<string>shoes</string>
	<key>творчество</key>
	<string>idea</string>
	<key>мысли</key>
	<string>idea</string>
	<key>текст</key>
	<string>music</string>
	<key>телевидение</key>
	<string>tv</string>
	<key>телесериал</key>
	<string>tv</string>
	<key>телесериалы</key>
	<string>tv</string>
	<key>телефильм</key>
	<string>tv</string>
	<key>телефильмы</key>
	<string>tv</string>
	<key>телешоу</key>
	<string>tv</string>
	<key>теннис</key>
	<string>sport</string>
	<key>теннисист</key>
	<string>sport</string>
	<key>теннисистка</key>
	<string>sport</string>
	<key>технолог</key>
	<string>tech</string>
	<key>технология</key>
	<string>tech</string>
	<key>типография</key>
	<string>typography</string>
	<key>тираж</key>
	<string>typography</string>
	<key>торговый центр</key>
	<string>shop</string>
	<key>треки</key>
	<string>music</string>
	<key>труд</key>
	<string>work</string>
	<key>туризм</key>
	<string>italy</string>
	<key>туфли</key>
	<string>shoes</string>
	<key>убор</key>
	<string>fashion</string>
	<key>ужин</key>
	<string>cooking</string>
	<key>укладка</key>
	<string>beauty</string>
	<key>улетный</key>
	<string>fun</string>
	<key>умелые руки</key>
	<string>diy</string>
	<key>университет</key>
	<string>school</string>
	<key>университеты</key>
	<string>school</string>
	<key>упражения</key>
	<string>exercise</string>
	<key>упражняться</key>
	<string>exercise</string>
	<key>учебник</key>
	<string>book</string>
	<key>учебники</key>
	<string>book</string>
	<key>ученые</key>
	<string>science</string>
	<key>ученый</key>
	<string>science</string>
	<key>фастфуд</key>
	<string>cooking</string>
	<key>фильм</key>
	<string>cinema</string>
	<key>фильмы</key>
	<string>cinema</string>
	<key>финансы</key>
	<string>economy</string>
	<key>фитнес</key>
	<string>exercise</string>
	<key>фото</key>
	<string>photography</string>
	<key>фотография</key>
	<string>photography</string>
	<key>футбол</key>
	<string>sport</string>
	<key>футболист</key>
	<string>sport</string>
	<key>футболистка</key>
	<string>sport</string>
	<key>хоккеист</key>
	<string>sport</string>
	<key>хоккеистка</key>
	<string>sport</string>
	<key>хоккей</key>
	<string>sport</string>
	<key>хомяк</key>
	<string>rodents</string>
	<key>хомяки</key>
	<string>rodents</string>
	<key>цитата</key>
	<string>quotes</string>
	<key>цитаты</key>
	<string>quotes</string>
	<key>цитировать</key>
	<string>quotes</string>
	<key>чай</key>
	<string>tea</string>
	<key>чайник</key>
	<string>tea</string>
	<key>часы</key>
	<string>watch</string>
	<key>чтение</key>
	<string>book</string>
	<key>шитье</key>
	<string>diy</string>
	<key>школа</key>
	<string>school</string>
	<key>шоппинг</key>
	<string>shop</string>
	<key>шоу</key>
	<string>fashion</string>
	<key>щенки</key>
	<string>dog</string>
	<key>щенок</key>
	<string>dog</string>
	<key>экономика</key>
	<string>economy</string>
	<key>экскременты</key>
	<string>poop</string>
	<key>электронное письмо</key>
	<string>mail</string>
	<key>эмаль</key>
	<string>art</string>
	<key>эссе</key>
	<string>book</string>
	<key>юбилей</key>
	<string>wife</string>
	<key>юбиляр</key>
	<string>present</string>
	<key>юмор</key>
	<string>fun</string>
	<key>я</key>
	<string>me</string>
	<key>я сам</key>
	<string>me</string>
</dict>
</plist>
