<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anime</key>
	<string>comics</string>
	<key>app</key>
	<string>app</string>
	<key>av</key>
	<string>porn</string>
	<key>av女优</key>
	<string>porn</string>
	<key>a片</key>
	<string>porn</string>
	<key>bug</key>
	<string>bug</string>
	<key>car</key>
	<string>car</string>
	<key>cat</key>
	<string>cat</string>
	<key>cba</key>
	<string>sport</string>
	<key>dev</key>
	<string>development</string>
	<key>diy</key>
	<string>diy</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>dog</key>
	<string>dog</string>
	<key>doggy</key>
	<string>dog</string>
	<key>fiba</key>
	<string>sport</string>
	<key>fifa</key>
	<string>sport</string>
	<key>fivb</key>
	<string>sport</string>
	<key>kitty</key>
	<string>cat</string>
	<key>love</key>
	<string>love</string>
	<key>manga</key>
	<string>comics</string>
	<key>nba</key>
	<string>sport</string>
	<key>nfl</key>
	<string>sport</string>
	<key>peace</key>
	<string>peace</string>
	<key>podcast</key>
	<string>podcast</string>
	<key>pokemon</key>
	<string>pokemon</string>
	<key>porn</key>
	<string>porn</string>
	<key>po文</key>
	<string>article</string>
	<key>sex</key>
	<string>porn</string>
	<key>shit</key>
	<string>poop</string>
	<key>shopping</key>
	<string>shop</string>
	<key>star wars</key>
	<string>star wars</string>
	<key>super bowl</key>
	<string>sport</string>
	<key>tech</key>
	<string>tech</string>
	<key>the doctor</key>
	<string>doctor who</string>
	<key>七夕</key>
	<string>love</string>
	<key>丈夫</key>
	<string>husband</string>
	<key>三对三</key>
	<string>sport</string>
	<key>专卖</key>
	<string>shop</string>
	<key>专科</key>
	<string>school</string>
	<key>世界杯</key>
	<string>sport</string>
	<key>中学</key>
	<string>school</string>
	<key>中网</key>
	<string>sport</string>
	<key>中超</key>
	<string>sport</string>
	<key>主意</key>
	<string>idea</string>
	<key>之旅</key>
	<string>travel</string>
	<key>书</key>
	<string>book</string>
	<key>书签</key>
	<string>article</string>
	<key>书籍</key>
	<string>book</string>
	<key>事业</key>
	<string>work</string>
	<key>二次元</key>
	<string>comics</string>
	<key>云音乐</key>
	<string>music</string>
	<key>亚冠</key>
	<string>sport</string>
	<key>亚洲杯</key>
	<string>sport</string>
	<key>亚足联</key>
	<string>sport</string>
	<key>任务</key>
	<string>todo</string>
	<key>企划</key>
	<string>development</string>
	<key>休假</key>
	<string>holiday</string>
	<key>体育</key>
	<string>sport</string>
	<key>体育比赛</key>
	<string>sport</string>
	<key>作文</key>
	<string>article</string>
	<key>便便</key>
	<string>poop</string>
	<key>俺</key>
	<string>me</string>
	<key>假日</key>
	<string>holiday</string>
	<key>假期</key>
	<string>holiday</string>
	<key>做爱</key>
	<string>porn</string>
	<key>做饭</key>
	<string>cooking</string>
	<key>健体</key>
	<string>health</string>
	<key>健康</key>
	<string>health</string>
	<key>健身</key>
	<string>exercise</string>
	<key>储蓄</key>
	<string>money</string>
	<key>像片</key>
	<string>photography</string>
	<key>儿子</key>
	<string>son</string>
	<key>写作</key>
	<string>article</string>
	<key>凸版印刷</key>
	<string>typography</string>
	<key>出版</key>
	<string>book</string>
	<key>创意</key>
	<string>idea</string>
	<key>初中</key>
	<string>school</string>
	<key>到家</key>
	<string>home</string>
	<key>到访</key>
	<string>places</string>
	<key>剧场</key>
	<string>cinema</string>
	<key>加拿大足球</key>
	<string>sport</string>
	<key>动人</key>
	<string>beauty</string>
	<key>动漫</key>
	<string>comics</string>
	<key>动物</key>
	<string>animal</string>
	<key>动画</key>
	<string>comics</string>
	<key>包包</key>
	<string>purse</string>
	<key>午餐</key>
	<string>cooking</string>
	<key>单身狗</key>
	<string>dog</string>
	<key>博士</key>
	<string>school</string>
	<key>博士后</key>
	<string>school</string>
	<key>博客</key>
	<string>article</string>
	<key>博客文章</key>
	<string>article</string>
	<key>博文</key>
	<string>article</string>
	<key>卡通</key>
	<string>comics</string>
	<key>厨房</key>
	<string>cooking</string>
	<key>发邮件</key>
	<string>mail</string>
	<key>口袋妖怪</key>
	<string>pokemon</string>
	<key>口袋怪兽</key>
	<string>pokemon</string>
	<key>古人云</key>
	<string>quotes</string>
	<key>古诗</key>
	<string>poetry</string>
	<key>台剧</key>
	<string>tv</string>
	<key>名言</key>
	<string>quotes</string>
	<key>听歌</key>
	<string>music</string>
	<key>和平</key>
	<string>peace</string>
	<key>咖啡</key>
	<string>coffee</string>
	<key>咖啡壶</key>
	<string>coffee</string>
	<key>咪咪</key>
	<string>cat</string>
	<key>商店</key>
	<string>shop</string>
	<key>啮齿动物</key>
	<string>rodents</string>
	<key>喝茶</key>
	<string>tea</string>
	<key>喵</key>
	<string>cat</string>
	<key>喵喵</key>
	<string>cat</string>
	<key>回家</key>
	<string>home</string>
	<key>国产剧</key>
	<string>tv</string>
	<key>国足</key>
	<string>sport</string>
	<key>国际足联</key>
	<string>sport</string>
	<key>图书</key>
	<string>book</string>
	<key>地点</key>
	<string>places</string>
	<key>场所</key>
	<string>places</string>
	<key>垒球</key>
	<string>sport</string>
	<key>大便</key>
	<string>poop</string>
	<key>大头照</key>
	<string>photography</string>
	<key>大头贴</key>
	<string>photography</string>
	<key>大学</key>
	<string>school</string>
	<key>大片</key>
	<string>cinema</string>
	<key>太阳</key>
	<string>sun</string>
	<key>夫人</key>
	<string>wife</string>
	<key>头像</key>
	<string>photography</string>
	<key>奇思</key>
	<string>idea</string>
	<key>奇思妙想</key>
	<string>idea</string>
	<key>女儿</key>
	<string>daughter</string>
	<key>女排</key>
	<string>sport</string>
	<key>女曲</key>
	<string>sport</string>
	<key>好玩</key>
	<string>fun</string>
	<key>好笑</key>
	<string>fun</string>
	<key>妙想</key>
	<string>idea</string>
	<key>妻子</key>
	<string>wife</string>
	<key>姚明</key>
	<string>sport</string>
	<key>娱乐节目</key>
	<string>tv</string>
	<key>媳妇</key>
	<string>wife</string>
	<key>子曰</key>
	<string>quotes</string>
	<key>存款</key>
	<string>money</string>
	<key>学校</key>
	<string>school</string>
	<key>学院</key>
	<string>school</string>
	<key>孩子他妈</key>
	<string>wife</string>
	<key>孩子他爸</key>
	<string>husband</string>
	<key>宝可梦</key>
	<string>pokemon</string>
	<key>宠物小精灵</key>
	<string>pokemon</string>
	<key>家居</key>
	<string>home</string>
	<key>家庭</key>
	<string>family</string>
	<key>小动物</key>
	<string>animal</string>
	<key>小吃</key>
	<string>cooking</string>
	<key>小学</key>
	<string>school</string>
	<key>小店</key>
	<string>shop</string>
	<key>小狗</key>
	<string>dog</string>
	<key>小电影</key>
	<string>porn</string>
	<key>小说</key>
	<string>book</string>
	<key>小说集</key>
	<string>book</string>
	<key>居家</key>
	<string>home</string>
	<key>屎</key>
	<string>poop</string>
	<key>工作</key>
	<string>work</string>
	<key>工厂店</key>
	<string>shop</string>
	<key>工程</key>
	<string>development</string>
	<key>帖子</key>
	<string>article</string>
	<key>幽默</key>
	<string>fun</string>
	<key>应用</key>
	<string>app</string>
	<key>应用程序</key>
	<string>app</string>
	<key>应聘</key>
	<string>work</string>
	<key>度假</key>
	<string>holiday</string>
	<key>康健</key>
	<string>health</string>
	<key>开发</key>
	<string>development</string>
	<key>开发者</key>
	<string>development</string>
	<key>影院</key>
	<string>cinema</string>
	<key>待办事项</key>
	<string>todo</string>
	<key>德甲</key>
	<string>sport</string>
	<key>性爱</key>
	<string>porn</string>
	<key>恋爱</key>
	<string>love</string>
	<key>情人</key>
	<string>love</string>
	<key>情人节</key>
	<string>love</string>
	<key>想法</key>
	<string>idea</string>
	<key>意呆利</key>
	<string>italy</string>
	<key>意大利</key>
	<string>italy</string>
	<key>意大利面</key>
	<string>italy</string>
	<key>意甲</key>
	<string>sport</string>
	<key>意面</key>
	<string>italy</string>
	<key>愿望清单</key>
	<string>present</string>
	<key>我</key>
	<string>me</string>
	<key>我自己</key>
	<string>me</string>
	<key>手提包</key>
	<string>purse</string>
	<key>手表</key>
	<string>watch</string>
	<key>打工</key>
	<string>work</string>
	<key>打新</key>
	<string>economy</string>
	<key>技术</key>
	<string>tech</string>
	<key>投资</key>
	<string>economy</string>
	<key>拍照</key>
	<string>photography</string>
	<key>招聘</key>
	<string>work</string>
	<key>排印</key>
	<string>typography</string>
	<key>排版</key>
	<string>typography</string>
	<key>排球</key>
	<string>sport</string>
	<key>插图小说</key>
	<string>comics</string>
	<key>播客</key>
	<string>podcast</string>
	<key>收藏</key>
	<string>article</string>
	<key>放假</key>
	<string>holiday</string>
	<key>教育</key>
	<string>school</string>
	<key>散文</key>
	<string>book</string>
	<key>散文集</key>
	<string>book</string>
	<key>文书</key>
	<string>article</string>
	<key>文章</key>
	<string>article</string>
	<key>文集</key>
	<string>book</string>
	<key>斗牛</key>
	<string>sport</string>
	<key>新股</key>
	<string>economy</string>
	<key>旅游</key>
	<string>travel</string>
	<key>旅游鞋</key>
	<string>shoes</string>
	<key>旅行</key>
	<string>travel</string>
	<key>日光</key>
	<string>sun</string>
	<key>日剧</key>
	<string>tv</string>
	<key>日本av</key>
	<string>porn</string>
	<key>早餐</key>
	<string>cooking</string>
	<key>时尚</key>
	<string>fashion</string>
	<key>时髦</key>
	<string>fashion</string>
	<key>明星</key>
	<string>star</string>
	<key>星巴克</key>
	<string>coffee</string>
	<key>星战</key>
	<string>star wars</string>
	<key>星星</key>
	<string>star</string>
	<key>星标</key>
	<string>star</string>
	<key>星球大战</key>
	<string>star wars</string>
	<key>晚餐</key>
	<string>cooking</string>
	<key>景区</key>
	<string>places</string>
	<key>景点</key>
	<string>places</string>
	<key>曲棍球</key>
	<string>sport</string>
	<key>曾说过</key>
	<string>quotes</string>
	<key>月亮</key>
	<string>moon</string>
	<key>月球</key>
	<string>moon</string>
	<key>月食</key>
	<string>moon</string>
	<key>有趣</key>
	<string>fun</string>
	<key>本人</key>
	<string>me</string>
	<key>本科</key>
	<string>school</string>
	<key>李白</key>
	<string>poetry</string>
	<key>杜甫</key>
	<string>poetry</string>
	<key>板球</key>
	<string>sport</string>
	<key>棒球</key>
	<string>sport</string>
	<key>欧洲杯</key>
	<string>sport</string>
	<key>歌手</key>
	<string>music</string>
	<key>歌曲</key>
	<string>music</string>
	<key>求职</key>
	<string>work</string>
	<key>汽车</key>
	<string>car</string>
	<key>沏茶</key>
	<string>tea</string>
	<key>沙排</key>
	<string>sport</string>
	<key>沙滩排球</key>
	<string>sport</string>
	<key>油画</key>
	<string>art</string>
	<key>法甲</key>
	<string>sport</string>
	<key>法网</key>
	<string>sport</string>
	<key>泡茶</key>
	<string>tea</string>
	<key>流行</key>
	<string>fashion</string>
	<key>流行歌</key>
	<string>music</string>
	<key>流行歌曲</key>
	<string>music</string>
	<key>涨停</key>
	<string>economy</string>
	<key>温网</key>
	<string>sport</string>
	<key>港剧</key>
	<string>tv</string>
	<key>游戏</key>
	<string>game</string>
	<key>滑板</key>
	<string>skate</string>
	<key>漂亮</key>
	<string>beauty</string>
	<key>漏洞</key>
	<string>bug</string>
	<key>漫画</key>
	<string>comics</string>
	<key>漫画书</key>
	<string>comics</string>
	<key>漫画连载</key>
	<string>comics</string>
	<key>澳网</key>
	<string>sport</string>
	<key>灵感</key>
	<string>idea</string>
	<key>点子</key>
	<string>idea</string>
	<key>烹调</key>
	<string>cooking</string>
	<key>烹饪</key>
	<string>cooking</string>
	<key>照片</key>
	<string>photography</string>
	<key>照相</key>
	<string>photography</string>
	<key>爱情</key>
	<string>love</string>
	<key>犬</key>
	<string>dog</string>
	<key>犬子</key>
	<string>son</string>
	<key>狗</key>
	<string>dog</string>
	<key>狗狗</key>
	<string>dog</string>
	<key>猫</key>
	<string>cat</string>
	<key>猫咪</key>
	<string>cat</string>
	<key>玩家</key>
	<string>game</string>
	<key>环保</key>
	<string>nature</string>
	<key>环境</key>
	<string>nature</string>
	<key>现金</key>
	<string>money</string>
	<key>班级</key>
	<string>school</string>
	<key>球鞋</key>
	<string>shoes</string>
	<key>理财</key>
	<string>economy</string>
	<key>瑜伽</key>
	<string>yoga</string>
	<key>电子游戏</key>
	<string>game</string>
	<key>电子竞技</key>
	<string>game</string>
	<key>电子邮件</key>
	<string>mail</string>
	<key>电影</key>
	<string>cinema</string>
	<key>电影院</key>
	<string>cinema</string>
	<key>电竞</key>
	<string>game</string>
	<key>电竞选手</key>
	<string>game</string>
	<key>电脑游戏</key>
	<string>game</string>
	<key>电视</key>
	<string>tv</string>
	<key>电视剧</key>
	<string>tv</string>
	<key>电视节目</key>
	<string>tv</string>
	<key>电邮</key>
	<string>mail</string>
	<key>画图</key>
	<string>art</string>
	<key>画画</key>
	<string>art</string>
	<key>相公</key>
	<string>husband</string>
	<key>相片</key>
	<string>photography</string>
	<key>研究所</key>
	<string>school</string>
	<key>研究生</key>
	<string>school</string>
	<key>硕士</key>
	<string>school</string>
	<key>礼物</key>
	<string>present</string>
	<key>神奇宝贝</key>
	<string>pokemon</string>
	<key>神秘博士</key>
	<string>doctor who</string>
	<key>票房</key>
	<string>cinema</string>
	<key>私隐</key>
	<string>privacy</string>
	<key>科学</key>
	<string>science</string>
	<key>科学家</key>
	<string>science</string>
	<key>科技</key>
	<string>tech</string>
	<key>程序</key>
	<string>app</string>
	<key>程序员</key>
	<string>development</string>
	<key>程序错误</key>
	<string>bug</string>
	<key>笔者</key>
	<string>me</string>
	<key>篮球</key>
	<string>sport</string>
	<key>精灵宝可梦</key>
	<string>pokemon</string>
	<key>素描</key>
	<string>art</string>
	<key>经济</key>
	<string>economy</string>
	<key>绘图</key>
	<string>art</string>
	<key>绘画</key>
	<string>art</string>
	<key>网球</key>
	<string>sport</string>
	<key>网络日记</key>
	<string>article</string>
	<key>网页</key>
	<string>article</string>
	<key>美丽</key>
	<string>beauty</string>
	<key>美剧</key>
	<string>tv</string>
	<key>美式橄榄球</key>
	<string>sport</string>
	<key>美式足球</key>
	<string>sport</string>
	<key>美网</key>
	<string>sport</string>
	<key>美职篮</key>
	<string>sport</string>
	<key>美食</key>
	<string>cooking</string>
	<key>老公</key>
	<string>husband</string>
	<key>老婆</key>
	<string>wife</string>
	<key>职位</key>
	<string>work</string>
	<key>职棒</key>
	<string>sport</string>
	<key>股票</key>
	<string>economy</string>
	<key>腰旗橄榄球</key>
	<string>sport</string>
	<key>自己</key>
	<string>me</string>
	<key>自己动手</key>
	<string>diy</string>
	<key>自然</key>
	<string>nature</string>
	<key>自然科学</key>
	<string>science</string>
	<key>舌尖</key>
	<string>cooking</string>
	<key>色情</key>
	<string>porn</string>
	<key>色情片</key>
	<string>porn</string>
	<key>艺术</key>
	<string>art</string>
	<key>节食</key>
	<string>health</string>
	<key>英剧</key>
	<string>tv</string>
	<key>英超</key>
	<string>sport</string>
	<key>茶叶</key>
	<string>tea</string>
	<key>茶水</key>
	<string>tea</string>
	<key>茶道</key>
	<string>tea</string>
	<key>血拼</key>
	<string>shop</string>
	<key>西甲</key>
	<string>sport</string>
	<key>警句</key>
	<string>quotes</string>
	<key>计划任务</key>
	<string>todo</string>
	<key>论文</key>
	<string>book</string>
	<key>设计</key>
	<string>design</string>
	<key>设计师</key>
	<string>design</string>
	<key>访问</key>
	<string>places</string>
	<key>诗人</key>
	<string>poetry</string>
	<key>诗情画意</key>
	<string>poetry</string>
	<key>诗歌</key>
	<string>poetry</string>
	<key>谚语</key>
	<string>quotes</string>
	<key>购物</key>
	<string>shop</string>
	<key>贱内</key>
	<string>wife</string>
	<key>贴子</key>
	<string>article</string>
	<key>资金</key>
	<string>money</string>
	<key>赛跑</key>
	<string>exercise</string>
	<key>赛车</key>
	<string>car</string>
	<key>超级碗</key>
	<string>sport</string>
	<key>足球</key>
	<string>sport</string>
	<key>跌停</key>
	<string>economy</string>
	<key>跑步</key>
	<string>exercise</string>
	<key>车</key>
	<string>car</string>
	<key>车辆</key>
	<string>car</string>
	<key>软件</key>
	<string>app</string>
	<key>运动</key>
	<string>sport</string>
	<key>运动鞋</key>
	<string>shoes</string>
	<key>连续剧</key>
	<string>tv</string>
	<key>连载漫画</key>
	<string>comics</string>
	<key>送礼</key>
	<string>present</string>
	<key>速写</key>
	<string>art</string>
	<key>造访</key>
	<string>places</string>
	<key>邮件</key>
	<string>mail</string>
	<key>野球</key>
	<string>sport</string>
	<key>金融</key>
	<string>economy</string>
	<key>金钱</key>
	<string>money</string>
	<key>钱包</key>
	<string>purse</string>
	<key>银行</key>
	<string>economy</string>
	<key>链接</key>
	<string>article</string>
	<key>错误报告</key>
	<string>bug</string>
	<key>锻炼</key>
	<string>exercise</string>
	<key>闺女</key>
	<string>daughter</string>
	<key>阳光</key>
	<string>sun</string>
	<key>隐私</key>
	<string>privacy</string>
	<key>靴子</key>
	<string>shoes</string>
	<key>鞋子</key>
	<string>shoes</string>
	<key>韩剧</key>
	<string>tv</string>
	<key>音乐</key>
	<string>music</string>
	<key>项目</key>
	<string>development</string>
	<key>食物</key>
	<string>cooking</string>
	<key>食谱</key>
	<string>cooking</string>
	<key>餐厅</key>
	<string>cooking</string>
	<key>餐馆</key>
	<string>cooking</string>
	<key>饭馆</key>
	<string>cooking</string>
	<key>马拉松</key>
	<string>exercise</string>
	<key>高中</key>
	<string>school</string>
</dict>
</plist>
