<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anime</key>
	<string>comics</string>
	<key>app</key>
	<string>app</string>
	<key>av</key>
	<string>porn</string>
	<key>av女優</key>
	<string>porn</string>
	<key>a片</key>
	<string>porn</string>
	<key>bug</key>
	<string>bug</string>
	<key>cat</key>
	<string>cat</string>
	<key>dev</key>
	<string>development</string>
	<key>diy</key>
	<string>diy</string>
	<key>doctor who</key>
	<string>doctor who</string>
	<key>dog</key>
	<string>dog</string>
	<key>doggy</key>
	<string>dog</string>
	<key>fiba</key>
	<string>sport</string>
	<key>fifa</key>
	<string>sport</string>
	<key>fivb</key>
	<string>sport</string>
	<key>love</key>
	<string>love</string>
	<key>manga</key>
	<string>comics</string>
	<key>nba</key>
	<string>sport</string>
	<key>neko</key>
	<string>cat</string>
	<key>nfl</key>
	<string>sport</string>
	<key>peace</key>
	<string>peace</string>
	<key>podcast</key>
	<string>podcast</string>
	<key>podcasting</key>
	<string>podcast</string>
	<key>pokemon</key>
	<string>pokemon</string>
	<key>porn</key>
	<string>porn</string>
	<key>po文</key>
	<string>article</string>
	<key>sbl</key>
	<string>sport</string>
	<key>sex</key>
	<string>porn</string>
	<key>shit</key>
	<string>poop</string>
	<key>shopping</key>
	<string>shop</string>
	<key>star wars</key>
	<string>star wars</string>
	<key>super bowl</key>
	<string>sport</string>
	<key>tech</key>
	<string>tech</string>
	<key>the doctor</key>
	<string>doctor who</string>
	<key>tvb</key>
	<string>tv</string>
	<key>七夕</key>
	<string>love</string>
	<key>丈夫</key>
	<string>husband</string>
	<key>三對三</key>
	<string>sport</string>
	<key>世界盃</key>
	<string>sport</string>
	<key>中學</key>
	<string>school</string>
	<key>中超</key>
	<string>sport</string>
	<key>主意</key>
	<string>idea</string>
	<key>之旅</key>
	<string>travel</string>
	<key>事業</key>
	<string>work</string>
	<key>亞冠</key>
	<string>sport</string>
	<key>亞洲盃</key>
	<string>sport</string>
	<key>亞足聯</key>
	<string>sport</string>
	<key>任務</key>
	<string>todo</string>
	<key>企劃</key>
	<string>development</string>
	<key>休假</key>
	<string>holiday</string>
	<key>作文</key>
	<string>article</string>
	<key>便便</key>
	<string>poop</string>
	<key>俺</key>
	<string>me</string>
	<key>假日</key>
	<string>holiday</string>
	<key>假期</key>
	<string>holiday</string>
	<key>做愛</key>
	<string>porn</string>
	<key>做飯</key>
	<string>cooking</string>
	<key>健康</key>
	<string>health</string>
	<key>健身</key>
	<string>exercise</string>
	<key>健體</key>
	<string>health</string>
	<key>像片</key>
	<string>photography</string>
	<key>儲蓄</key>
	<string>money</string>
	<key>兒子</key>
	<string>son</string>
	<key>內地劇</key>
	<string>tv</string>
	<key>凸版印刷</key>
	<string>typography</string>
	<key>出版</key>
	<string>book</string>
	<key>初中</key>
	<string>school</string>
	<key>到家</key>
	<string>home</string>
	<key>到訪</key>
	<string>places</string>
	<key>創意</key>
	<string>idea</string>
	<key>劇場</key>
	<string>cinema</string>
	<key>加拿大足球</key>
	<string>sport</string>
	<key>動人</key>
	<string>beauty</string>
	<key>動漫</key>
	<string>comics</string>
	<key>動物</key>
	<string>animal</string>
	<key>動畫</key>
	<string>comics</string>
	<key>包包</key>
	<string>purse</string>
	<key>午餐</key>
	<string>cooking</string>
	<key>博士</key>
	<string>school</string>
	<key>博士後</key>
	<string>school</string>
	<key>卡通</key>
	<string>comics</string>
	<key>口袋妖怪</key>
	<string>pokemon</string>
	<key>口袋怪獸</key>
	<string>pokemon</string>
	<key>古人雲</key>
	<string>quotes</string>
	<key>古詩</key>
	<string>poetry</string>
	<key>名言</key>
	<string>quotes</string>
	<key>和平</key>
	<string>peace</string>
	<key>咖啡</key>
	<string>coffee</string>
	<key>咖啡壺</key>
	<string>coffee</string>
	<key>咪咪</key>
	<string>cat</string>
	<key>商店</key>
	<string>shop</string>
	<key>喝茶</key>
	<string>tea</string>
	<key>喵</key>
	<string>cat</string>
	<key>喵喵</key>
	<string>cat</string>
	<key>嘿咻</key>
	<string>porn</string>
	<key>回家</key>
	<string>home</string>
	<key>國中</key>
	<string>school</string>
	<key>國片</key>
	<string>cinema</string>
	<key>國際足協</key>
	<string>sport</string>
	<key>國際足總</key>
	<string>sport</string>
	<key>國際足聯</key>
	<string>sport</string>
	<key>圖書</key>
	<string>book</string>
	<key>地點</key>
	<string>places</string>
	<key>場所</key>
	<string>places</string>
	<key>壘球</key>
	<string>sport</string>
	<key>大便</key>
	<string>poop</string>
	<key>大學</key>
	<string>school</string>
	<key>大片</key>
	<string>cinema</string>
	<key>大陸劇</key>
	<string>tv</string>
	<key>大頭照</key>
	<string>photography</string>
	<key>大頭貼</key>
	<string>photography</string>
	<key>太陽</key>
	<string>sun</string>
	<key>夫人</key>
	<string>wife</string>
	<key>奇思</key>
	<string>idea</string>
	<key>奇思妙想</key>
	<string>idea</string>
	<key>女兒</key>
	<string>daughter</string>
	<key>女排</key>
	<string>sport</string>
	<key>女曲</key>
	<string>sport</string>
	<key>好玩</key>
	<string>fun</string>
	<key>好笑</key>
	<string>fun</string>
	<key>妙想</key>
	<string>idea</string>
	<key>妻子</key>
	<string>wife</string>
	<key>娛樂節目</key>
	<string>tv</string>
	<key>媳婦</key>
	<string>wife</string>
	<key>子曰</key>
	<string>quotes</string>
	<key>存款</key>
	<string>money</string>
	<key>孩子他媽</key>
	<string>wife</string>
	<key>孩子他爸</key>
	<string>husband</string>
	<key>學校</key>
	<string>school</string>
	<key>學院</key>
	<string>school</string>
	<key>家居</key>
	<string>home</string>
	<key>家庭</key>
	<string>family</string>
	<key>寫作</key>
	<string>article</string>
	<key>寵物小精靈</key>
	<string>pokemon</string>
	<key>寶可夢</key>
	<string>pokemon</string>
	<key>專科</key>
	<string>school</string>
	<key>專賣</key>
	<string>shop</string>
	<key>小動物</key>
	<string>animal</string>
	<key>小吃</key>
	<string>cooking</string>
	<key>小學</key>
	<string>school</string>
	<key>小店</key>
	<string>shop</string>
	<key>小狗</key>
	<string>dog</string>
	<key>小說</key>
	<string>book</string>
	<key>小說集</key>
	<string>book</string>
	<key>小電影</key>
	<string>porn</string>
	<key>居家</key>
	<string>home</string>
	<key>屎</key>
	<string>poop</string>
	<key>工作</key>
	<string>work</string>
	<key>工廠店</key>
	<string>shop</string>
	<key>工程</key>
	<string>development</string>
	<key>帖子</key>
	<string>article</string>
	<key>幽默</key>
	<string>fun</string>
	<key>度假</key>
	<string>holiday</string>
	<key>康健</key>
	<string>health</string>
	<key>廚房</key>
	<string>cooking</string>
	<key>影院</key>
	<string>cinema</string>
	<key>待辦事項</key>
	<string>todo</string>
	<key>德甲</key>
	<string>sport</string>
	<key>性愛</key>
	<string>porn</string>
	<key>情人</key>
	<string>love</string>
	<key>情人節</key>
	<string>love</string>
	<key>想法</key>
	<string>idea</string>
	<key>意大利</key>
	<string>italy</string>
	<key>意大利麵</key>
	<string>italy</string>
	<key>意甲</key>
	<string>sport</string>
	<key>意麵</key>
	<string>italy</string>
	<key>愛情</key>
	<string>love</string>
	<key>應用</key>
	<string>app</string>
	<key>應用程式</key>
	<string>app</string>
	<key>應聘</key>
	<string>work</string>
	<key>戀愛</key>
	<string>love</string>
	<key>成棒</key>
	<string>sport</string>
	<key>我</key>
	<string>me</string>
	<key>我自己</key>
	<string>me</string>
	<key>手提包</key>
	<string>purse</string>
	<key>手錶</key>
	<string>watch</string>
	<key>打工</key>
	<string>work</string>
	<key>技術</key>
	<string>tech</string>
	<key>投資</key>
	<string>economy</string>
	<key>拍照</key>
	<string>photography</string>
	<key>招聘</key>
	<string>work</string>
	<key>排印</key>
	<string>typography</string>
	<key>排版</key>
	<string>typography</string>
	<key>排球</key>
	<string>sport</string>
	<key>插圖小說</key>
	<string>comics</string>
	<key>播客</key>
	<string>podcast</string>
	<key>收藏</key>
	<string>article</string>
	<key>放假</key>
	<string>holiday</string>
	<key>教育</key>
	<string>school</string>
	<key>散文</key>
	<string>book</string>
	<key>散文集</key>
	<string>book</string>
	<key>文書</key>
	<string>article</string>
	<key>文章</key>
	<string>article</string>
	<key>文集</key>
	<string>book</string>
	<key>旅行</key>
	<string>travel</string>
	<key>旅遊</key>
	<string>travel</string>
	<key>旅遊鞋</key>
	<string>shoes</string>
	<key>日劇</key>
	<string>tv</string>
	<key>日本av</key>
	<string>porn</string>
	<key>早餐</key>
	<string>cooking</string>
	<key>明星</key>
	<string>star</string>
	<key>星巴克</key>
	<string>coffee</string>
	<key>星戰</key>
	<string>star wars</string>
	<key>星星</key>
	<string>star</string>
	<key>星標</key>
	<string>star</string>
	<key>星球大戰</key>
	<string>star wars</string>
	<key>星際大戰</key>
	<string>star wars</string>
	<key>時尚</key>
	<string>fashion</string>
	<key>時髦</key>
	<string>fashion</string>
	<key>晚餐</key>
	<string>cooking</string>
	<key>景區</key>
	<string>places</string>
	<key>景點</key>
	<string>places</string>
	<key>曲棍球</key>
	<string>sport</string>
	<key>書</key>
	<string>book</string>
	<key>書簽</key>
	<string>article</string>
	<key>書籍</key>
	<string>book</string>
	<key>曾說過</key>
	<string>quotes</string>
	<key>月亮</key>
	<string>moon</string>
	<key>月球</key>
	<string>moon</string>
	<key>月食</key>
	<string>moon</string>
	<key>有趣</key>
	<string>fun</string>
	<key>本人</key>
	<string>me</string>
	<key>李白</key>
	<string>poetry</string>
	<key>杜甫</key>
	<string>poetry</string>
	<key>板球</key>
	<string>sport</string>
	<key>棒球</key>
	<string>sport</string>
	<key>歌手</key>
	<string>music</string>
	<key>歌曲</key>
	<string>music</string>
	<key>歐洲盃</key>
	<string>sport</string>
	<key>求職</key>
	<string>work</string>
	<key>汽車</key>
	<string>car</string>
	<key>沏茶</key>
	<string>tea</string>
	<key>沙排</key>
	<string>sport</string>
	<key>沙灘排球</key>
	<string>sport</string>
	<key>油畫</key>
	<string>art</string>
	<key>法甲</key>
	<string>sport</string>
	<key>法網</key>
	<string>sport</string>
	<key>泡茶</key>
	<string>tea</string>
	<key>流行</key>
	<string>fashion</string>
	<key>流行歌</key>
	<string>music</string>
	<key>流行歌曲</key>
	<string>music</string>
	<key>港劇</key>
	<string>tv</string>
	<key>溫布頓</key>
	<string>sport</string>
	<key>溫網</key>
	<string>sport</string>
	<key>滑板</key>
	<string>skate</string>
	<key>漂亮</key>
	<string>beauty</string>
	<key>漏洞</key>
	<string>bug</string>
	<key>漫畫</key>
	<string>comics</string>
	<key>漫畫書</key>
	<string>comics</string>
	<key>漫畫連載</key>
	<string>comics</string>
	<key>澳網</key>
	<string>sport</string>
	<key>烹調</key>
	<string>cooking</string>
	<key>烹飪</key>
	<string>cooking</string>
	<key>照片</key>
	<string>photography</string>
	<key>照相</key>
	<string>photography</string>
	<key>犬</key>
	<string>dog</string>
	<key>犬子</key>
	<string>son</string>
	<key>狗</key>
	<string>dog</string>
	<key>狗狗</key>
	<string>dog</string>
	<key>玩家</key>
	<string>game</string>
	<key>班級</key>
	<string>school</string>
	<key>現金</key>
	<string>money</string>
	<key>球鞋</key>
	<string>shoes</string>
	<key>理財</key>
	<string>economy</string>
	<key>瑜伽</key>
	<string>yoga</string>
	<key>環保</key>
	<string>nature</string>
	<key>環境</key>
	<string>nature</string>
	<key>瓊斯盃</key>
	<string>sport</string>
	<key>畫圖</key>
	<string>art</string>
	<key>畫畫</key>
	<string>art</string>
	<key>發郵件</key>
	<string>mail</string>
	<key>相公</key>
	<string>husband</string>
	<key>相片</key>
	<string>photography</string>
	<key>研究所</key>
	<string>school</string>
	<key>碩士</key>
	<string>school</string>
	<key>神奇寶貝</key>
	<string>pokemon</string>
	<key>神秘博士</key>
	<string>doctor who</string>
	<key>票房</key>
	<string>cinema</string>
	<key>禮物</key>
	<string>present</string>
	<key>私隱</key>
	<string>privacy</string>
	<key>科學</key>
	<string>science</string>
	<key>科學家</key>
	<string>science</string>
	<key>科技</key>
	<string>tech</string>
	<key>程式</key>
	<string>app</string>
	<key>程式師</key>
	<string>development</string>
	<key>程式錯誤</key>
	<string>bug</string>
	<key>筆者</key>
	<string>me</string>
	<key>節食</key>
	<string>health</string>
	<key>籃球</key>
	<string>sport</string>
	<key>精靈寶可夢</key>
	<string>pokemon</string>
	<key>素描</key>
	<string>art</string>
	<key>經濟</key>
	<string>economy</string>
	<key>網球</key>
	<string>sport</string>
	<key>網路日記</key>
	<string>article</string>
	<key>網頁</key>
	<string>article</string>
	<key>繪圖</key>
	<string>art</string>
	<key>繪畫</key>
	<string>art</string>
	<key>美劇</key>
	<string>tv</string>
	<key>美式橄欖球</key>
	<string>sport</string>
	<key>美式足球</key>
	<string>sport</string>
	<key>美網</key>
	<string>sport</string>
	<key>美職籃</key>
	<string>sport</string>
	<key>美食</key>
	<string>cooking</string>
	<key>美麗</key>
	<string>beauty</string>
	<key>義大利</key>
	<string>italy</string>
	<key>義大利面</key>
	<string>italy</string>
	<key>義面</key>
	<string>italy</string>
	<key>老公</key>
	<string>husband</string>
	<key>老婆</key>
	<string>wife</string>
	<key>職位</key>
	<string>work</string>
	<key>職棒</key>
	<string>sport</string>
	<key>聽歌</key>
	<string>music</string>
	<key>股票</key>
	<string>economy</string>
	<key>腰旗橄欖球</key>
	<string>sport</string>
	<key>自己</key>
	<string>me</string>
	<key>自己動手</key>
	<string>diy</string>
	<key>自然</key>
	<string>nature</string>
	<key>自然科學</key>
	<string>science</string>
	<key>舌尖</key>
	<string>cooking</string>
	<key>色情</key>
	<string>porn</string>
	<key>色情片</key>
	<string>porn</string>
	<key>英劇</key>
	<string>tv</string>
	<key>英超</key>
	<string>sport</string>
	<key>茶水</key>
	<string>tea</string>
	<key>茶葉</key>
	<string>tea</string>
	<key>茶道</key>
	<string>tea</string>
	<key>藝術</key>
	<string>art</string>
	<key>血拼</key>
	<string>shop</string>
	<key>西甲</key>
	<string>sport</string>
	<key>計畫任務</key>
	<string>todo</string>
	<key>訪問</key>
	<string>places</string>
	<key>設計</key>
	<string>design</string>
	<key>設計師</key>
	<string>design</string>
	<key>詩人</key>
	<string>poetry</string>
	<key>詩情畫意</key>
	<string>poetry</string>
	<key>詩歌</key>
	<string>poetry</string>
	<key>論文</key>
	<string>book</string>
	<key>諺語</key>
	<string>quotes</string>
	<key>警句</key>
	<string>quotes</string>
	<key>貓</key>
	<string>cat</string>
	<key>貓咪</key>
	<string>cat</string>
	<key>貼子</key>
	<string>article</string>
	<key>資金</key>
	<string>money</string>
	<key>賤內</key>
	<string>wife</string>
	<key>購物</key>
	<string>shop</string>
	<key>賽跑</key>
	<string>exercise</string>
	<key>賽車</key>
	<string>car</string>
	<key>超級碗</key>
	<string>sport</string>
	<key>足球</key>
	<string>sport</string>
	<key>跑步</key>
	<string>exercise</string>
	<key>車</key>
	<string>car</string>
	<key>車輛</key>
	<string>car</string>
	<key>軟件</key>
	<string>app</string>
	<key>軟體</key>
	<string>app</string>
	<key>送禮</key>
	<string>present</string>
	<key>速寫</key>
	<string>art</string>
	<key>造訪</key>
	<string>places</string>
	<key>連結</key>
	<string>article</string>
	<key>連續劇</key>
	<string>tv</string>
	<key>連載漫畫</key>
	<string>comics</string>
	<key>遊戲</key>
	<string>game</string>
	<key>運動</key>
	<string>sport</string>
	<key>運動鞋</key>
	<string>shoes</string>
	<key>部落客</key>
	<string>article</string>
	<key>部落格</key>
	<string>article</string>
	<key>部落格文章</key>
	<string>article</string>
	<key>郵件</key>
	<string>mail</string>
	<key>野球</key>
	<string>sport</string>
	<key>金融</key>
	<string>economy</string>
	<key>金錢</key>
	<string>money</string>
	<key>金馬獎</key>
	<string>cinema</string>
	<key>銀行</key>
	<string>economy</string>
	<key>錢包</key>
	<string>purse</string>
	<key>錯誤報告</key>
	<string>bug</string>
	<key>鍛煉</key>
	<string>exercise</string>
	<key>開發</key>
	<string>development</string>
	<key>開發者</key>
	<string>development</string>
	<key>閨女</key>
	<string>daughter</string>
	<key>陽光</key>
	<string>sun</string>
	<key>隱私</key>
	<string>privacy</string>
	<key>電子競技</key>
	<string>game</string>
	<key>電子遊戲</key>
	<string>game</string>
	<key>電子郵件</key>
	<string>mail</string>
	<key>電影</key>
	<string>cinema</string>
	<key>電影院</key>
	<string>cinema</string>
	<key>電競</key>
	<string>game</string>
	<key>電競選手</key>
	<string>game</string>
	<key>電腦遊戲</key>
	<string>game</string>
	<key>電視</key>
	<string>tv</string>
	<key>電視劇</key>
	<string>tv</string>
	<key>電視節目</key>
	<string>tv</string>
	<key>電視遊戲</key>
	<string>game</string>
	<key>電郵</key>
	<string>mail</string>
	<key>靈感</key>
	<string>idea</string>
	<key>靴子</key>
	<string>shoes</string>
	<key>鞋子</key>
	<string>shoes</string>
	<key>韓劇</key>
	<string>tv</string>
	<key>音樂</key>
	<string>music</string>
	<key>項目</key>
	<string>development</string>
	<key>頭像</key>
	<string>photography</string>
	<key>願望清單</key>
	<string>present</string>
	<key>食物</key>
	<string>cooking</string>
	<key>食譜</key>
	<string>cooking</string>
	<key>飯館</key>
	<string>cooking</string>
	<key>餐廳</key>
	<string>cooking</string>
	<key>餐館</key>
	<string>cooking</string>
	<key>馬拉松</key>
	<string>exercise</string>
	<key>體育</key>
	<string>sport</string>
	<key>體育比賽</key>
	<string>sport</string>
	<key>高中</key>
	<string>school</string>
	<key>鬥牛</key>
	<string>sport</string>
	<key>點子</key>
	<string>idea</string>
	<key>齧齒動物</key>
	<string>rodents</string>
</dict>
</plist>
